<template>
	<div class="product-filters">
		<div class="product-filters__product-in-stock-wrapper">
			<BaseFieldsToggle
				:label="productsSortAndFilter.OnlyInStockLabel"
				:value="props.onlyInStock"
				@change="handleOnlyInStockToggle"
			/>
		</div>
		<ProductsFiltersProductType
			:active-product-type-id="props.activeProductTypeId"
			:product-types="props.productTypes"
			@product-type-id-select="handleProductTypeIdSelect"
		/>
		<ErrorHandler :api-error="productsSortAndFilterError" :reload="productsSortAndFilterRefresh">
			<ProductsFiltersSort
				:active-sort="activeSort"
				:products-sort-and-filters="productsSortAndFilter"
				@change="handleSortChange"
			/>
		</ErrorHandler>
	</div>
</template>

<script lang="ts" setup>
	import { ProductsSort } from '@app/constants/ProductsSort';
	import { ProductType } from '@app/api/productTypes';
	import { useGetProductsSortAndFilters } from '@app/api/productsSortAndFilters';

	interface Props {
		activeSort: ProductsSort;
		activeProductTypeId: number;
		onlyInStock: boolean;
		productTypes: ProductType[];
	}

	interface Events {
		(e: 'sortChange', value: string): void;

		(e: 'productTypeIdSelect', value: number): void;

		(e: 'onlyInStockToggle', value: boolean): void;
	}

	const props = defineProps<Props>();
	const emit = defineEmits<Events>();

	const {
		data: productsSortAndFilter,
		error: productsSortAndFilterError,
		refresh: productsSortAndFilterRefresh,
	} = await useGetProductsSortAndFilters();

	function handleOnlyInStockToggle(value: boolean) {
		emit('onlyInStockToggle', value);
	}

	function handleProductTypeIdSelect(value: number) {
		emit('productTypeIdSelect', value);
	}

	function handleSortChange(value: ProductsSort) {
		emit('sortChange', value);
	}
</script>

<style lang="scss" scoped>
	.product-filters {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 0 $layout-side-padding;

		@media (max-width: breakpoint(md)) {
			grid-template-columns: 1fr;
			padding: 0 $layout-side-padding-mobile;
		}

		&__product-in-stock-wrapper {
			text-align: center;

			@media (max-width: breakpoint(md)) {
				order: 1;
				margin-bottom: 20px;
			}
		}
	}
</style>
