<template>
	<div class="product-type-filter">
		<button
			v-for="productType in props.productTypes"
			:key="productType.id"
			:class="{ active: props.activeProductTypeId === productType.id }"
			:title="productType.attributes.Name"
			type="button"
			@click="handleProductTypeIdSelect(productType.id)"
		>
			<BaseTypography :size="{ default: 'medium', md: 'small' }" :weight="600">
				{{ productType.attributes.Name }}
			</BaseTypography>
		</button>
	</div>
</template>

<script lang="ts" setup>
	import { ProductType } from '@app/api/productTypes';

	interface Props {
		activeProductTypeId: number;
		productTypes: ProductType[];
	}

	interface Events {
		(e: 'productTypeIdSelect', value: number): void;
	}

	const props = defineProps<Props>();
	const emit = defineEmits<Events>();

	function handleProductTypeIdSelect(id: number) {
		emit('productTypeIdSelect', id);
	}
</script>

<style lang="scss" scoped>
	.product-type-filter {
		white-space: nowrap;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: breakpoint(md)) {
			white-space: normal;
			order: 2;
		}

		button {
			color: $color-gray;
			margin: 0 25px;

			@media (max-width: breakpoint(md)) {
				margin: 0 10px;
			}

			&.active {
				color: $color-black;
			}
		}
	}
</style>
