<template>
	<div class="sort-filter">
		<button
			class="sort-filter__trigger"
			title="Show sort options"
			type="button"
			@click="toggleShowSortOptions"
		>
			<SvgSort />
			<BaseTypography v-if="activeSortLabel" class="sort-filter__label"
				>{{ activeSortLabel }}
			</BaseTypography>
		</button>
	</div>
	<div
		:class="{ active: showSortOptions }"
		class="sort-filter__container"
		@click="handleSortContainerClick"
	>
		<div :class="{ active: showSortOptions }" class="sort-filter__list">
			<button
				class="sort-filter__close-btn"
				title="Close sort options"
				type="button"
				@click="toggleShowSortOptions"
			>
				<SvgCross />
			</button>
			<BaseControlsDefaultButton
				:class="{ active: props.activeSort === ProductsSort.NEW }"
				class="sort-filter__option"
				@click="handleChange(ProductsSort.NEW)"
			>
				<BaseTypography>
					{{ productsSortAndFilters.SortLastUpdatedLabel }}
				</BaseTypography>
			</BaseControlsDefaultButton>
			<BaseControlsDefaultButton
				:class="{ active: props.activeSort === ProductsSort.HIGH_PRICE }"
				class="sort-filter__option"
				@click="handleChange(ProductsSort.HIGH_PRICE)"
			>
				<BaseTypography>
					{{ productsSortAndFilters.SortHighPriceLabel }}
				</BaseTypography>
			</BaseControlsDefaultButton>
			<BaseControlsDefaultButton
				:class="{ active: props.activeSort === ProductsSort.LOW_PRICE }"
				class="sort-filter__option"
				@click="handleChange(ProductsSort.LOW_PRICE)"
			>
				<BaseTypography>
					{{ productsSortAndFilters.SortLowPriceLabel }}
				</BaseTypography>
			</BaseControlsDefaultButton>
		</div>
	</div>
</template>

<script lang="ts" setup>
	import { computed, ref } from '#imports';
	import { ProductsSortAndFilters } from '@app/api/productsSortAndFilters';
	import { ProductsSort } from '@app/constants/ProductsSort';

	interface Props {
		activeSort: ProductsSort;
		productsSortAndFilters: ProductsSortAndFilters;
	}

	interface Events {
		(e: 'change', value: ProductsSort): void;
	}

	const props = defineProps<Props>();
	const emit = defineEmits<Events>();
	const showSortOptions = ref(false);

	function toggleShowSortOptions() {
		showSortOptions.value = !showSortOptions.value;
	}

	function handleChange(value: ProductsSort) {
		emit('change', value);
		toggleShowSortOptions();
	}

	function handleSortContainerClick(event: MouseEvent) {
		const target = event.target as HTMLElement;
		if (!target.closest('.sort-filter__list')) {
			toggleShowSortOptions();
		}
	}

	const activeSortLabel = computed(() => {
		if (props.activeSort === ProductsSort.NEW) {
			return props.productsSortAndFilters.SortLastUpdatedLabel;
		} else if (props.activeSort === ProductsSort.HIGH_PRICE) {
			return props.productsSortAndFilters.SortHighPriceLabel;
		} else if (props.activeSort === ProductsSort.LOW_PRICE) {
			return props.productsSortAndFilters.SortLowPriceLabel;
		}
	});
</script>

<style lang="scss" scoped>
	.sort-filter {
		display: flex;
		align-items: center;

		@media (max-width: breakpoint(md)) {
			order: 0;
			margin-bottom: 20px;
		}

		&__trigger {
			margin: 0 auto;
			display: flex;
			justify-content: center;
			font-family: 'SFUIText';
			white-space: nowrap;

			svg {
				margin-right: 15px;
			}
		}

		&__container {
			position: fixed;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			transform: translate(-200%);
			z-index: 9999;
			background-color: rgba(#000000, 0);
			display: flex;
			justify-content: flex-end;
			transition:
				transform 0ms 250ms ease-in-out,
				background-color 250ms ease-in-out;

			@media (max-width: breakpoint(md)) {
				flex-direction: column;
			}

			&.active {
				transform: translateX(0);
				background-color: rgba(#000000, 0.25);
				transition:
					transform 0ms ease-in-out,
					background-color 250ms ease-in-out;
			}
		}

		&__list {
			background-color: $color-white;
			width: 500px;
			display: flex;
			flex-direction: column;
			align-items: center;
			transform: translateX(100%);
			transition: transform 250ms ease-in-out;

			@media (max-width: breakpoint(md)) {
				width: 100%;
				padding: 60px 0;
				transform: translateY(100%);
			}

			&.active {
				transform: translateX(0);

				@media (max-width: breakpoint(md)) {
					transform: translateY(0);
				}
			}
		}

		&__close-btn {
			width: 45px;
			height: 45px;
			margin: 55px 0 55px;
			padding: 2px;

			@media (max-width: breakpoint(md)) {
				display: none;
			}

			svg {
				width: 100%;
				height: 100%;
			}
		}

		&__option {
			font-family: 'SFUIText';
			font-weight: 300;
			color: $color-gray;
			margin-bottom: 15px;

			&.active,
			&:hover,
			&:active {
				color: $color-black;
			}
		}
	}
</style>
