<template>
	<main class="layout">
		<Navigation />
		<slot />
		<Footer />
		<BaseDisplaysSnackbar />
	</main>
</template>

<style lang="scss">
	.layout {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;

		& > div {
			flex: 1 1 auto;
		}
	}
</style>
