<template>
	<ErrorHandler :api-error="productsPageError" :reload="productsPageRefresh">
		<div class="product-list">
			<BaseTypography as="div" class="product-list__title" size="large">
				{{ pageTitle }}
			</BaseTypography>
			<div class="product-list__filters">
				<ErrorHandler :api-error="productTypesError" :reload="productTypesRefresh">
					<ProductsFilters
						v-if="activeProductTypeId"
						:active-product-type-id="activeProductTypeId"
						:active-sort="activeSort"
						:only-in-stock="onlyInStockFilter"
						:product-types="productTypes"
						@product-type-id-select="handleProductTypeSelect"
						@only-in-stock-toggle="handleOnlyInStockToggle"
						@sort-change="handleSortChange"
					/>
				</ErrorHandler>
			</div>
			<Suspense>
				<ProductsList
					:active-product-type-id="activeProductTypeId!"
					:active-sort="activeSort"
					:only-in-stock="onlyInStockFilter"
					:product-gender-slug="productGenderSlug"
				/>
				<template #fallback>
					<BaseDisplaysLoader />
				</template>
			</Suspense>
		</div>
	</ErrorHandler>
</template>

<script lang="ts" setup>
	import { computed, navigateTo, useRoute } from '#imports';
	import { useGetProductTypes } from '@app/api/productTypes';
	import { useGetProductsPage } from '@app/api/productsPage';
	import { ProductsSort } from '@app/constants/ProductsSort';
	import { usePageSeo } from '@app/utils/usePageSeo';

	interface Props {
		productGenderSlug: 'man' | 'woman';
	}

	const props = defineProps<Props>();

	const route = useRoute();

	const {
		data: productTypes,
		error: productTypesError,
		refresh: productTypesRefresh,
	} = await useGetProductTypes(props.productGenderSlug);

	const activeSort = computed(() => {
		const querySort = route.query.sort as ProductsSort;

		if (Object.values(ProductsSort).includes(querySort)) {
			return querySort;
		} else {
			return ProductsSort.NEW;
		}
	});
	const onlyInStockFilter = computed(() => {
		const onlyInStock = route.query.onlyInStock as string;

		return onlyInStock === 'true';
	});

	const {
		data: productsPage,
		error: productsPageError,
		refresh: productsPageRefresh,
	} = await useGetProductsPage();

	usePageSeo(productsPage.value?.Seo);

	const pageTitle =
		props.productGenderSlug === 'man'
			? productsPage.value?.MenCollection
			: productsPage.value?.WomenCollection;

	const activeProductTypeId = computed(() => {
		const productType = productTypes.value?.find(
			({ attributes }) => attributes.Slug === route.params.productType,
		);
		return productType ? productType.id : productTypes.value?.[0].id;
	});

	async function handleProductTypeSelect(productTypeId: number) {
		const productType = productTypes.value?.find(({ id }) => id === productTypeId);
		const sortParam = activeSort.value ? { sort: activeSort.value } : {};
		const onlyInStockParam = onlyInStockFilter.value ? { onlyInStock: true } : {};
		await navigateTo({
			path: `/products/${props.productGenderSlug}/${productType?.attributes.Slug}`,
			query: {
				...sortParam,
				...onlyInStockParam,
			} as any,
		});
	}

	async function handleOnlyInStockToggle(value: boolean) {
		const productType = activeProductTypeId ? route.params.productType : null;
		const sortParam = activeSort.value ? { sort: activeSort.value } : {};
		const onlyInStockParam = value ? { onlyInStock: true } : {};
		await navigateTo({
			path: `/products/${props.productGenderSlug}${productType ? '/' + productType : ''}`,
			query: {
				...sortParam,
				...onlyInStockParam,
			} as any,
		});
	}

	async function handleSortChange(value: ProductsSort) {
		const productType = activeProductTypeId ? route.params.productType : null;
		const sortParam = value ? { sort: value } : {};
		const onlyInStockParam = onlyInStockFilter.value ? { onlyInStock: true } : {};
		await navigateTo({
			path: `/products/${props.productGenderSlug}${productType ? '/' + productType : ''}`,
			query: {
				...sortParam,
				...onlyInStockParam,
			} as any,
		});
	}
</script>

<style lang="scss" scoped>
	.product-list {
		margin-top: 70px;

		@media (max-width: breakpoint(md)) {
			margin-top: 15px;
		}

		&__title {
			text-align: center;
			margin-bottom: 60px;
			font-family: 'SFUIText';

			@media (max-width: breakpoint(md)) {
				display: none;
			}
		}

		&__filters {
			margin-bottom: 70px;

			@media (max-width: breakpoint(md)) {
				margin-bottom: 38px;
			}
		}

		&__grid {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			column-gap: 8px;
			row-gap: 40px;

			@media (max-width: breakpoint(md)) {
				grid-template-columns: 1fr 1fr;
				column-gap: 10px;
				row-gap: 24px;
			}
		}
	}
</style>
