<template>
	<div class="product-list">
		<ErrorHandler :api-error="productsError" :reload="productsRefresh">
			<div v-if="productsPending" class="product-list__loader-wrapper">
				<BaseDisplaysLoader />
			</div>
			<ProductsProduct
				v-for="product in products"
				v-else
				:key="product.id"
				:main-image="product.attributes.MainPhoto"
				:price="product.attributes.Price"
				:slug="product.attributes.Slug"
				:sub-image="product.attributes.BackgroundPhoto"
				:title="product.attributes.Title"
				image-sizes="(max-width: 991px) 50vw, 33.33vw"
			/>
		</ErrorHandler>
	</div>
</template>

<script lang="ts" setup>
	import { computed, watch } from '#imports';
	import { useGetProducts } from '@app/api/products';
	import { ProductsSort } from '@app/constants/ProductsSort';

	interface Props {
		productGenderSlug: 'man' | 'woman';
		activeSort: ProductsSort;
		activeProductTypeId: number;
		onlyInStock: boolean;
	}

	const props = defineProps<Props>();

	const filters = computed(() => ({
		productTypeId: props.activeProductTypeId,
		productGenderSlug: props.productGenderSlug,
		productSort: props.activeSort,
		productOnlyInStock: props.onlyInStock,
	}));

	const {
		data: products,
		pending: productsPending,
		error: productsError,
		refresh: productsRefresh,
	} = await useGetProducts(filters);
</script>

<style lang="scss" scoped>
	.product-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 8px;
		row-gap: 40px;

		@media (max-width: breakpoint(md)) {
			grid-template-columns: 1fr 1fr;
			column-gap: 10px;
			row-gap: 24px;
		}

		&__loader-wrapper {
			width: 100%;
			grid-column: 1 / -1;
		}
	}
</style>
