<template>
	<BaseControlsAppLink :to="`/product/${props.slug}`" class="product">
		<div class="product__image">
			<BaseDisplaysImage :alt="props.title" :image="props.mainImage" :sizes="props.imageSizes" />
			<BaseDisplaysImage :alt="props.title" :image="props.subImage" :sizes="props.imageSizes" />
		</div>
		<BaseTypography
			:size="{ default: 'medium', md: 'small' }"
			:weight="600"
			as="div"
			class="product__title"
		>
			{{ props.title }}
		</BaseTypography>
		<BaseTypography :size="{ default: 'medium', md: 'small' }" as="div" class="product__price">
			{{ props.price }} PLN
		</BaseTypography>
	</BaseControlsAppLink>
</template>

<script lang="ts" setup>
	import { ImageResource } from '@app/api/types/ImageResource';

	interface Props {
		slug: string;
		mainImage: ImageResource;
		subImage: ImageResource;
		title: string;
		price: number;
		imageSizes: string;
	}

	const props = defineProps<Props>();
</script>

<style lang="scss" scoped>
	.product {
		color: $color-black;
		display: flex;
		flex-direction: column;

		&__image {
			margin-bottom: 25px;
			position: relative;
			overflow: hidden;
			background-color: $color-background;
			flex: 1 1 auto;

			@media (max-width: breakpoint(md)) {
				margin-bottom: 14px;
			}

			img {
				position: relative;
				transition:
					transform 400ms ease-in-out,
					opacity 400ms ease-in-out,
					z-index 400ms ease-in-out;
				z-index: 1;
				max-width: 100%;
				width: 100%;
			}

			img:last-child {
				position: absolute;
				left: 0;
				top: 0;
				transform: scale(1.2);
				opacity: 0.05;
				z-index: 0;
			}
		}

		&:hover &__image {
			img:first-child {
				transform: scale(1.2);
				opacity: 0.05;
				z-index: 0;
			}

			img:last-child {
				z-index: 1;
				transform: scale(1);
				opacity: 1;
			}
		}

		&__title {
			margin-bottom: 5px;
			margin-left: 20px;

			@media (max-width: breakpoint(md)) {
				margin-bottom: 7px;
			}
		}

		&__price {
			color: $color-gray;
			margin-left: 20px;
		}
	}
</style>
