<template>
	<NuxtLayout>
		<NuxtPage />
	</NuxtLayout>
</template>

<script lang="ts" setup>
	import { useHead, useRouter } from '#imports';

	const router = useRouter();

	if (process.env.NODE_ENV === 'production') {
		useHead(() => ({
			script: [
				{
					innerHTML: `!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', ${process.env.FACEBOOK_TRACK_ID});
	fbq('track', 'PageView');`,
				},
			],
			noscript: [
				{
					innerHTML: `<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=753845722892579&ev=PageView&noscript=1" />`,
				},
			],
		}));
	}

	router.afterEach(() => {
		window.scrollTo({ left: 0, top: 0 });
	});
</script>
