<template>
	<div class="not-found-page">
		<div class="not-found-page__wrapper">
			<div class="not-found-page__top">
				<div class="not-found-page__404">404</div>
				<div class="not-found-page__description">{{ notFoundPage.SomethingWrongLabel }}</div>
			</div>
			<div class="not-found-page__error">Error</div>
			<AppLink class="not-found-page__link" to="/">{{ notFoundPage.BackToHomePageLabel }}</AppLink>
		</div>
	</div>
</template>

<script lang="ts" setup>
	import { useGetNotFoundPage } from '@app/api/notFoundPage';

	const { data: notFoundPage } = await useGetNotFoundPage();
</script>

<style lang="scss" scoped>
	.not-found-page {
		height: 100%;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		justify-content: center;
		align-items: center;
		margin: 0 auto;

		&__wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&__top {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__404,
		&__error {
			font-family: 'SFUIText', serif;
			font-weight: 700;
			font-size: 180px;
			line-height: 100%;

			@media (max-width: breakpoint(sm)) {
				font-size: 69px;
				line-height: 76px;
				font-weight: 800;
			}
		}

		&__description {
			white-space: pre-line;
			font-size: 30px;
			line-height: 33px;
			font-weight: 500;

			@media (max-width: breakpoint(sm)) {
				font-size: 14px;
				line-height: 15px;
				margin-left: 30px;
			}
		}

		&__link {
			display: inline-block;
			font-size: 30px;
			line-height: 33px;
			font-weight: 500;
			margin-top: 50px;
			color: $color-black;
			text-decoration: underline;

			@media (max-width: breakpoint(sm)) {
				font-size: 14px;
				line-height: 15px;
			}
		}
	}
</style>
