<template>
	<slot v-if="!error && !apiError" />
	<div v-else class="error-handler">
		<BaseTypography>Something went wrong.</BaseTypography>
		<button v-if="props.reload" @click="props.reload">Reload</button>
	</div>
</template>

<script lang="ts" setup>
	import { onErrorCaptured, ref } from '#imports';

	interface Props {
		apiError?: any;
		reload?: () => void;
	}

	const props = defineProps<Props>();

	const error = ref<Error | null>(null);
	onErrorCaptured((err) => {
		error.value = err;
		console.error(err);
		return false;
	});
</script>

<style lang="scss" scoped>
	.error-handler {
		width: 100%;
		text-align: center;
		border: 1px solid $color-black;
		margin: 1px;
		box-sizing: border-box;
		padding: 5px;

		button {
			margin-top: 10px;
			font-size: 15px;
			border: 1px solid $color-black;
			padding: 3px 15px;
			cursor: pointer;

			&:hover {
				background-color: $color-black;
				color: $color-white;
			}
		}
	}
</style>
