<template>
	<ErrorHandler :api-error="error" :reload="refresh">
		<footer class="footer">
			<div class="left-side">
				<BaseControlsAppLink class="footer__homepage-link" title="Homepage" to="/">
					<SvgLogo class="footer__logo" />
				</BaseControlsAppLink>
				<BaseControlsAppLink to="/public-offer-agreement">
					<BaseTypography>{{ data.PublicOfferAgreement }}</BaseTypography>
				</BaseControlsAppLink>
				<BaseControlsAppLink to="/privacy-policy">
					<BaseTypography>{{ data.PrivacyPolicy }}</BaseTypography>
				</BaseControlsAppLink>
			</div>
			<div class="center">
				<BaseControlsAppLink to="/contact-us">
					<BaseTypography>{{ data.ContactUs }}</BaseTypography>
				</BaseControlsAppLink>
				<BaseControlsAppLink to="/about">
					<BaseTypography>{{ data.About }}</BaseTypography>
				</BaseControlsAppLink>
				<BaseControlsAppLink to="/shipping-and-payment">
					<BaseTypography>{{ data.ShippingAndPayment }}</BaseTypography>
				</BaseControlsAppLink>
				<BaseControlsAppLink to="/clothing-care">
					<BaseTypography>{{ data.ClothingCare }}</BaseTypography>
				</BaseControlsAppLink>
				<BaseControlsAppLink to="/return-and-exchange">
					<BaseTypography>{{ data.ReturnAndExchange }}</BaseTypography>
				</BaseControlsAppLink>
			</div>
			<div class="right-side">
				<BaseControlsAppLink v-if="data.InstagramLink" :to="data.InstagramLink">
					<BaseTypography>{{ data.InstagramTitle }}</BaseTypography>
				</BaseControlsAppLink>
				<BaseControlsAppLink v-if="data.FacebookLink" :to="data.FacebookLink">
					<BaseTypography>{{ data.FacebookTitle }}</BaseTypography>
				</BaseControlsAppLink>
			</div>
		</footer>
	</ErrorHandler>
</template>

<script lang="ts" setup>
	import { useGetFooter } from '@app/api/footer';

	const { data, error, refresh } = await useGetFooter();
</script>

<style lang="scss" scoped>
	.footer {
		background-color: $color-black;
		padding: 25px $layout-side-padding 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 120px;

		@media (max-width: breakpoint(md)) {
			padding: 46px $layout-side-padding-mobile 28px;
			margin-top: 72px;
		}

		@media (max-width: breakpoint(sm)) {
			flex-direction: column-reverse;
		}

		a {
			color: $color-white;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 0;
				height: 1px;
				background-color: $color-white;
				transition: width 250ms ease-in-out;
			}

			&:hover:after {
				width: 100%;
			}
		}

		&__homepage-link {
			align-self: stretch;

			&:after {
				display: none;
			}
		}

		&__logo {
			max-width: 218px;
			height: auto;

			svg {
				color: white;
			}
		}
	}

	.left-side {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (max-width: breakpoint(sm)) {
			text-align: center;
		}

		img {
			width: 218px;
			margin-bottom: 13px;

			@media (max-width: breakpoint(md)) {
				width: 170px;
			}

			@media (max-width: breakpoint(sm)) {
				width: 120px;
			}
		}

		a + a {
			margin-top: 16px;
		}
	}

	.center {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: breakpoint(sm)) {
			margin-bottom: 35px;
		}

		a + a {
			margin-top: 16px;
		}
	}

	.right-side {
		display: flex;

		@media (max-width: breakpoint(sm)) {
			flex-direction: row-reverse;
			margin-bottom: 46px;
		}

		a + a {
			margin-left: 27px;

			@media (max-width: breakpoint(sm)) {
				margin-left: 0;
				margin-right: 27px;
			}
		}
	}
</style>
