<template>
	<ErrorHandler :api-error="props.error" :reload="handleReload">
		<div class="info-page">
			<BaseTypography
				:size="{ default: 'large', md: 'mediumLarge' }"
				:weight="500"
				as="div"
				class="info-page__title"
				>{{ props.data?.Title }}
			</BaseTypography>
			<BaseTypography
				:size="{ default: 'medium', md: 'small' }"
				class="info-page__content"
				v-html="content"
			></BaseTypography>
		</div>
	</ErrorHandler>
</template>

<script lang="ts" setup>
	import { PageSeo } from '@app/api/types/PageSeo';
	import { parseMarkdown } from '@app/utils/markdown';
	import { usePageSeo } from '@app/utils/usePageSeo';

	interface Props {
		data?: {
			Title: string;
			Content: string;
			Seo: PageSeo;
		};
		error?: any;
	}

	interface Events {
		(e: 'refresh'): void;
	}

	const props = defineProps<Props>();
	const emit = defineEmits<Events>();

	usePageSeo(props.data?.Seo);

	const content = parseMarkdown(props.data?.Content || '');

	function handleReload() {
		emit('refresh');
	}
</script>

<style lang="scss">
	.info-page {
		padding: 120px $layout-side-padding 0;
		line-height: 1.5;

		@media (max-width: breakpoint(md)) {
			padding: 55px $layout-side-padding-mobile 0;
		}

		&__title {
			text-align: center;
			margin-bottom: 90px;

			@media (max-width: breakpoint(md)) {
				margin-bottom: 48px;
			}
		}

		&__content {
			all: revert;

			* {
				all: revert;
			}
		}
	}
</style>
