<template>
	<ErrorHandler :api-error="productTypesManError" :reload="productTypesManRefresh">
		<ErrorHandler :api-error="productTypesWomanError" :reload="productTypesWomanRefresh">
			<div>
				<button :aria-hidden="menuOpen" class="trigger" title="Open menu" @click="toggleMenu()" />
				<div :class="{ active: menuOpen }" class="menu-content">
					<div class="menu-inner-wrapper">
						<button class="close-menu" title="Close menu" @click="toggleMenu()">
							<SvgCross />
						</button>
						<div class="content">
							<div class="column">
								<div class="title">Woman</div>
								<BaseControlsAppLink
									v-for="productType in productTypesMan"
									:key="productType.id"
									:to="`/products/woman/${productType.attributes.Slug}`"
									@click="toggleMenu"
								>
									{{ productType.attributes.Name }}
								</BaseControlsAppLink>
							</div>
							<div class="column">
								<div class="title">Man</div>
								<BaseControlsAppLink
									v-for="productType in productTypesWoman"
									:key="productType.id"
									:to="`/products/man/${productType.attributes.Slug}`"
									@click="toggleMenu"
								>
									{{ productType.attributes.Name }}
								</BaseControlsAppLink>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ErrorHandler>
	</ErrorHandler>
</template>

<script lang="ts" setup>
	import { ref } from '#imports';
	import { useGetProductTypes } from '@app/api/productTypes';

	const menuOpen = ref(false);

	function toggleMenu() {
		menuOpen.value = !menuOpen.value;
	}

	const [
		{ data: productTypesMan, error: productTypesManError, refresh: productTypesManRefresh },
		{ data: productTypesWoman, error: productTypesWomanError, refresh: productTypesWomanRefresh },
	] = await Promise.all([useGetProductTypes('man'), useGetProductTypes('woman')]);
</script>

<style lang="scss" scoped>
	.trigger {
		border-top: 2px solid $color-black;
		border-bottom: 2px solid $color-black;
		height: 16px;
		width: 40px;
		position: relative;

		@media (max-width: breakpoint(md)) {
			width: 39px;
			height: 14px;
			border-width: 2px;
		}

		&:before {
			content: '';
			width: 60%;
			height: 2px;
			background-color: $color-black;
			position: absolute;
			left: 0;
			top: calc(50% - 1px);

			@media (max-width: breakpoint(md)) {
				height: 2px;
				width: 26px;
			}
		}
	}

	$height-animation: 350ms;
	$width-animation: 200ms;

	@keyframes borderRightInAnimation {
		0% {
			border-right-color: transparent;
		}

		100% {
			border-right-color: transparent;
		}
	}

	@keyframes borderBottomInAnimation {
		0% {
			border-bottom-color: transparent;
		}

		100% {
			border-bottom-color: transparent;
		}
	}

	@keyframes borderRightOutAnimation {
		0% {
			border-right-color: $color-divider;
		}

		100% {
			border-right-color: $color-divider;
		}
	}

	@keyframes borderBottomOutAnimation {
		0% {
			border-bottom-color: $color-divider;
		}

		100% {
			border-bottom-color: $color-divider;
		}
	}

	.menu-content {
		position: fixed;
		left: 0;
		top: 0;
		width: 0;
		height: 80px;
		z-index: 9999;
		background-color: $color-white;
		transition:
			height $height-animation ease-in-out,
			width $width-animation calc($height-animation + 50ms) ease-in-out;
		overflow: hidden;
		border-right: 1px solid transparent;
		border-bottom: 1px solid transparent;
		animation:
			borderBottomOutAnimation calc($width-animation + $height-animation + 50ms) linear,
			borderRightOutAnimation $width-animation linear calc($height-animation + 50ms);

		@media (max-width: breakpoint(md)) {
			height: 70px;
		}

		&.active {
			animation:
				borderRightInAnimation 0s linear $width-animation forwards,
				borderBottomInAnimation 0s linear calc($width-animation + $height-animation + 50ms) forwards;
			border-color: $color-divider;
			height: 100%;
			width: 100%;
			transition:
				width $width-animation ease-in-out,
				height $height-animation calc($width-animation + 50ms) ease-in-out;
		}
	}

	.menu-inner-wrapper {
		width: 100vw;
		height: 100vh;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: breakpoint(md)) {
			align-items: flex-end;
		}
	}

	.close-menu {
		width: 40px;
		height: 40px;
		position: absolute;
		left: $layout-side-padding;
		top: 15px;
		padding: 5px;

		@media (max-width: breakpoint(md)) {
			left: calc(50% - 20px);
			top: 15px;
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}

	.content {
		display: flex;

		@media (max-width: breakpoint(md)) {
			flex-direction: column;
			justify-content: space-around;
			height: calc(100% - 100px);
		}
	}

	.column {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		& + & {
			margin-left: 150px;

			@media (max-width: breakpoint(md)) {
				margin-left: 0;
			}
		}
	}

	.title {
		font-size: 125px;
		line-height: 137.5px;
		margin-bottom: 48px;

		@media (max-width: breakpoint(md)) {
			@include typography-large;
			margin-bottom: 24px;
		}
	}

	a {
		margin-bottom: 10px;
		color: $color-black;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 0;
			height: 1px;
			background-color: $color-black;
			transition: width 250ms ease-in-out;
		}

		&:hover:after {
			width: 100%;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
</style>
