<template>
	<div class="accordion">
		<button
			:class="{ active: computedActive }"
			:title="props.toggleTitle"
			class="accordion__toggle"
			@click="handleToggle"
		>
			<slot :active="computedActive" name="toggle">
				<BaseTypography as="div" class="accordion__toggle-title" size="mediumLarge">
					{{ props.toggleTitle }}
				</BaseTypography>
			</slot>

			<slot :active="computedActive" name="icon">
				<span :class="{ active: computedActive }" class="accordion__toggle-icon" />
			</slot>
		</button>
		<BaseDisplaysCollapseTransition>
			<div v-show="computedActive">
				<slot name="content">
					<BaseTypography as="div" class="accordion__description">
						{{ props.content }}
					</BaseTypography>
				</slot>
			</div>
		</BaseDisplaysCollapseTransition>
	</div>
</template>

<script lang="ts" setup>
	import { computed, ref } from '#imports';

	interface BaseProps {
		toggleTitle?: string;
		content?: string;
	}

	interface ControlProps {
		active: boolean;
	}

	interface Events {
		(e: 'toggle'): void;
	}

	type Props = BaseProps | (BaseProps & ControlProps);

	const props = defineProps<Props>();
	const emit = defineEmits<Events>();
	const isActive = ref(false);

	const computedActive = computed(() => ('active' in props ? props.active : isActive.value));

	function handleToggle() {
		if ('active' in props) {
			emit('toggle');
		} else {
			isActive.value = !isActive.value;
		}
	}
</script>

<style lang="scss" scoped>
	.accordion {
		border-bottom: 1px solid $color-divider;

		&:last-child {
			border-bottom: none;
		}

		&__toggle {
			padding-bottom: 15px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			transition: padding-top 300ms ease-in-out;
			width: 100%;
		}

		&__toggle-title {
			transition: font-weight 300ms ease-in-out;

			.active & {
				font-weight: 700;
			}
		}

		&__toggle-icon {
			width: 16px;
			height: 16px;
			position: relative;

			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 12px;
				height: 1px;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				background-color: $color-gray;
				transition:
					transform 300ms ease-in-out,
					background-color 300ms ease-in-out;
			}

			&:after {
				width: 1px;
				height: 12px;
			}

			&.active {
				&:before,
				&:after {
					background-color: $color-black;
					transform: translate(-50%, -50%) rotate(45deg);
					height: 2px;
					width: 14px;
				}

				&:after {
					width: 2px;
					height: 14px;
				}
			}
		}

		&__description {
			padding-top: 17px;
			padding-bottom: 15px;
			text-transform: none;
			white-space: pre-line;
		}
	}
</style>
