<template>
	<img :alt="props.alt" :src="getImageUrl(props.image)" :srcset="getImageSrcSet(props.image)" />
</template>

<script lang="ts" setup>
	import { ImageResource } from '@app/api/types/ImageResource';
	import { getImageSrcSet, getImageUrl } from '@app/utils/image';

	interface Props {
		image: ImageResource;
		alt: string;
	}

	const props = defineProps<Props>();
</script>
