<template>
	<div class="wrapper">
		<div class="loader">
			<span></span>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.wrapper {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.loader {
		position: relative;
		width: 150px;
		height: 150px;
		background: transparent;
		border: 3px solid white;
		border-radius: 50%;
		text-align: center;

		&:before {
			content: '';
			position: absolute;
			top: -3px;
			left: -3px;
			width: 100%;
			height: 100%;
			border: 3px solid transparent;
			border-top: 3px solid $color-black;
			border-right: 3px solid $color-black;
			border-radius: 50%;
			animation: animateC 2s linear infinite;
		}
	}

	span {
		display: block;
		position: absolute;
		top: calc(50% - 2px);
		left: 50%;
		width: 50%;
		height: 4px;
		background: transparent;
		transform-origin: left;
		animation: animate 2s linear infinite;

		&:before {
			content: '';
			position: absolute;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			background: black;
			top: -3px;
			right: -7px;
			box-shadow: 0 0 20px black;
		}
	}

	@keyframes animateC {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes animate {
		0% {
			transform: rotate(45deg);
		}

		100% {
			transform: rotate(405deg);
		}
	}
</style>
