<template>
	<ClientOnly>
		<transition
			class="snackbar-notification"
			enter-active-class="active"
			enter-from-class="from"
			enter-to-class="to"
			leave-active-class="active"
			leave-from-class="to"
			leave-to-class="from"
			@after-leave="handleAfterLeave"
		>
			<BaseTypography v-if="notificationShown" :weight="500"
				>{{ notification?.text }}
			</BaseTypography>
		</transition>
	</ClientOnly>
</template>

<script lang="ts" setup>
	import { ref, watch } from '#imports';
	import { Notification, useSnackbarStore } from '@app/utils/stores/snackbar';

	const snackbarStore = useSnackbarStore();
	const notification = ref<Notification | null>(null);
	const notificationShown = ref(false);
	let timeout: number | undefined;

	watch(snackbarStore, (value) => {
		if (
			notification.value &&
			value.notification &&
			value.notification.text !== notification.value.text
		) {
			clearTimeout(timeout);
			notificationShown.value = false;
		} else if (!notification.value && value.notification) {
			notification.value = value.notification;
			notificationShown.value = true;
			snackbarStore.clearNotification();
			timeout = window.setTimeout(() => {
				notificationShown.value = false;
			}, 5000);
		}
	});

	function handleAfterLeave() {
		if (snackbarStore.notification) {
			notification.value = snackbarStore.notification;
			notificationShown.value = true;
			snackbarStore.clearNotification();

			timeout = window.setTimeout(() => {
				notificationShown.value = false;
			}, 5000);
		} else {
			notification.value = null;
		}
	}
</script>

<style lang="scss" scoped>
	.snackbar-notification {
		padding: 10px 20px;
		position: fixed;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -50px);
		z-index: 9999;
		background-color: $color-black;
		color: $color-white;
		text-transform: none;
		border-radius: 4px;
		box-shadow: 0 0 3px #fff;

		&.active {
			transition: transform 400ms ease-in-out;
		}

		&.from {
			transform: translate(-50%, 100%);
		}

		&.to {
			transform: translate(-50%, -50px);
		}
	}
</style>
