<template></template>

<script lang="ts" setup>
	import { useHead } from '#imports';

	interface Events {
		(e: 'error', error: any): void;
	}

	const emit = defineEmits<Events>();

	function handleError(error: any) {
		emit('error', error);
	}

	useHead({
		script: [
			{
				defer: true,
				src: 'https://geowidget.inpost.pl/inpost-geowidget.js',
				onerror: handleError,
			},
		],
	});
</script>
