<template>
	<div>
		<BaseFieldsText
			:class="{ invalid: !props.isValid }"
			:placeholder="props.label"
			:value="inpostAddress"
			name="inpostOffice"
			readonly
			@blur="handleTouched"
			@focus="toggleWidget"
		/>
		<div v-if="inpostScriptLoadError" class="inpost-script-error">
			{{ props.loadErrorDescription }}
		</div>
		<CartInpostOfficeWidget
			:show="showInpostWidget"
			@close="toggleWidget"
			@inpost-point-selected="handleInpostPointSelected"
			@inpost-script-load-error="handleInpostScriptLoadError"
		/>
	</div>
</template>

<script lang="ts" setup>
	import { computed, ref, useRuntimeConfig } from '#imports';
	import { InpostOfficePoint } from '@app/types/InpostOfficePoint';

	interface Props {
		value: InpostOfficePoint | null;
		isValid: boolean;
		label: string;
		loadErrorDescription: string;
	}

	interface Events {
		(e: 'change', point: InpostOfficePoint): void;

		(e: 'touched'): void;
	}

	const props = defineProps<Props>();
	const emit = defineEmits<Events>();

	const runtimeConfig = useRuntimeConfig();

	const inpostScriptLoadError = ref(false);
	const showInpostWidget = ref(false);

	const inpostAddress = computed(() =>
		props.value ? `${props.value.address.line1}, ${props.value.address.line2}` : '',
	);

	function toggleWidget(event?: FocusEvent) {
		event?.preventDefault();

		if (inpostScriptLoadError.value) {
			return;
		}

		showInpostWidget.value = !showInpostWidget.value;

		if (!showInpostWidget.value) {
			(document.activeElement as HTMLElement | null)?.blur();
		}
	}

	function handleInpostPointSelected(point: InpostOfficePoint) {
		toggleWidget();
		emit('change', point);
	}

	function handleTouched() {
		emit('touched');
	}

	function handleInpostScriptLoadError() {
		inpostScriptLoadError.value = true;
	}
</script>

<style lang="scss">
	.inpost-script-error {
		margin-top: 15px;
		color: $color-red;
		text-transform: none;
	}
</style>
