<template>
	<div :class="{ active: props.show }" class="inpost-geowidget" @click="onWrapperClick">
		<button title="Close InPost map" type="button">
			<SvgCross />
		</button>
		<Link href="https://geowidget.inpost.pl/inpost-geowidget.css" rel="stylesheet" />
		<inpost-geowidget
			v-pre
			ref="widgetRef"
			config="parcelcollect"
			language="pl"
			onpoint="onInpostPointSelected"
		></inpost-geowidget>
		<CartInpostOfficeExternalScript v-if="widgetTokenReady" @error="onInpostScriptLoadError" />
	</div>
</template>

<script lang="ts" setup>
	import { onMounted, ref, useRuntimeConfig, watch } from '#imports';
	import { InpostOfficePoint } from '@app/types/InpostOfficePoint';

	interface Props {
		show: boolean;
	}

	interface Events {
		(e: 'close'): void;

		(e: 'inpostPointSelected', point: InpostOfficePoint): void;

		(e: 'inpostScriptLoadError'): void;
	}

	const props = defineProps<Props>();
	const emit = defineEmits<Events>();
	const runtimeConfig = useRuntimeConfig();
	const widgetRef = ref<HTMLElement | null>(null);
	const widgetTokenReady = ref(false);

	const handleEscKeyup = (event: KeyboardEvent) => {
		if (event.key === 'Escape') {
			emit('close');
		}
	};

	watch(props, (value) => {
		if (value.show) {
			document.addEventListener('keyup', handleEscKeyup);
		} else {
			document.removeEventListener('keyup', handleEscKeyup);
		}
	});

	onMounted(() => {
		widgetRef.value?.setAttribute('token', runtimeConfig.public.INPOST_TOKEN);
		widgetTokenReady.value = true;
	});

	function onWrapperClick(event: MouseEvent) {
		const target = event.target as HTMLElement;
		if (!target.closest('inpost-geowidget')) {
			emit('close');
		}
	}

	function onInpostPointSelected(point: any) {
		emit('inpostPointSelected', point);
	}

	(window as any).onInpostPointSelected = onInpostPointSelected;

	function onInpostScriptLoadError() {
		emit('inpostScriptLoadError');
	}
</script>

<style lang="scss">
	.inpost-geowidget {
		position: fixed;
		z-index: 9999;
		left: -100vw;
		top: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 40px;
		opacity: 0;
		transition:
			opacity 400ms ease-in-out,
			left 0ms 400ms ease-in-out;

		@media (max-width: breakpoint(md)) {
			padding: 40px 0 0;
		}

		&.active {
			opacity: 1;
			left: 0;
			transition:
				opacity 400ms ease-in-out,
				left 0ms ease-in-out;
		}

		button {
			position: absolute;
			right: 5px;
			top: 5px;
			width: 30px;
			height: 30px;

			svg path {
				fill: white;
			}
		}

		inpost-geowidget {
			width: 100%;
			height: 100%;
		}
	}
</style>
