<template>
	<BaseTypography
		:size="{ default: 'mediumLarge', md: 'medium' }"
		:weight="600"
		as="div"
		class="delivery-form-header"
	>
		{{ orderCheckoutPage.DeliveryTitle }}
	</BaseTypography>
	<div class="delivery-form-fields">
		<BaseFieldsText
			:class="{ invalid: !formValues.firstName && props.touchedFields.firstName }"
			:placeholder="orderCheckoutPage.NameLabel"
			:value="formValues.firstName"
			name="firstName"
			@blur="markFieldTouched('firstName')"
			@change="(value) => onFieldChange('firstName', value)"
		/>
		<BaseFieldsText
			:class="{ invalid: !formValues.lastName && props.touchedFields.lastName }"
			:placeholder="orderCheckoutPage.SurnameLabel"
			:value="formValues.lastName"
			name="lastName"
			@blur="markFieldTouched('lastName')"
			@change="(value) => onFieldChange('lastName', value)"
		/>
		<BaseFieldsText
			:class="{ invalid: !formValues.phoneNumber && props.touchedFields.phoneNumber }"
			:placeholder="orderCheckoutPage.PhoneNumberLabel"
			:value="formValues.phoneNumber"
			name="phoneNumber"
			@blur="markFieldTouched('phoneNumber')"
			@change="(value) => onFieldChange('phoneNumber', value)"
		/>
		<BaseFieldsText
			:class="{
				invalid:
					(!formValues.email || !isEmailValidator(formValues.email)) && props.touchedFields.email,
			}"
			:placeholder="orderCheckoutPage.EmailLabel"
			:value="formValues.email"
			name="email"
			@blur="markFieldTouched('email')"
			@change="(value) => onFieldChange('email', value)"
		/>
		<CartInpostOfficeField
			:isValid="!!formValues.inpostOffice || !props.touchedFields.inpostOffice"
			:label="orderCheckoutPage.InpostOfficeLabel"
			:loadErrorDescription="orderCheckoutPage.InpostLoadError"
			:value="formValues.inpostOffice"
			@change="(value) => onFieldChange('inpostOffice', value)"
			@touched="markFieldTouched('inpostOffice')"
		/>
		<BaseFieldsCheckbox
			:value="formValues.privacyAgreement"
			name="privacyAgreement"
			@blur="markFieldTouched('privacyAgreement')"
			@change="(value) => onFieldChange('privacyAgreement', value)"
		>
			<span v-html="privacyAgreementLabelHTML"></span>
		</BaseFieldsCheckbox>
	</div>
</template>
<script lang="ts" setup>
	import { computed } from '#imports';
	import { OrderCheckoutPage } from '@app/api/orderCheckoutPage';
	import { isEmailValidator } from '@app/utils/form/validatiors';
	import { parseMarkdown } from '@app/utils/markdown';
	import { DeliveryFormValues } from '@app/types/DeliveryFormValues';

	interface Props {
		submittingOrder: boolean;
		orderCheckoutPage: OrderCheckoutPage;
		formValues: DeliveryFormValues;
		touchedFields: Record<keyof DeliveryFormValues, boolean>;
	}

	interface Events {
		<FieldName extends keyof DeliveryFormValues>(
			e: 'change',
			fieldName: FieldName,
			value: DeliveryFormValues[FieldName],
		): void;

		<FieldName extends keyof DeliveryFormValues>(e: 'touched', fieldName: FieldName): void;
	}

	const props = defineProps<Props>();
	const emit = defineEmits<Events>();

	const privacyAgreementLabelHTML = computed(() =>
		parseMarkdown(props.orderCheckoutPage.PrivacyAgreementLabel),
	);

	function markFieldTouched(fieldName: keyof DeliveryFormValues) {
		emit('touched', fieldName);
	}

	function onFieldChange<FieldName extends keyof DeliveryFormValues>(
		fieldName: FieldName,
		value: DeliveryFormValues[FieldName],
	) {
		emit('change', fieldName, value);
	}
</script>

<style lang="scss" scoped>
	.delivery-form-header {
		margin-bottom: 50px;

		@media (max-width: breakpoint(md)) {
			margin-bottom: 30px;
		}
	}

	.delivery-form-fields {
		display: grid;
		grid-template-columns: 50% 50%;
		gap: 40px;

		@media (max-width: breakpoint(xl)) {
			grid-template-columns: 1fr;
		}

		@media (max-width: breakpoint(md)) {
			gap: 28px;
		}
	}
</style>
