<template>
	<ErrorHandler :api-error="orderCheckoutPageError" :reload="orderCheckoutPageRefresh">
		<ErrorHandler :api-error="productsError" :reload="productsRefresh">
			<BaseDisplaysLoader v-if="productsPending || orderCheckoutPagePending" class="cart-loader" />
			<div v-else class="cart">
				<BaseTypography as="div" class="cart__title" size="large"
					>{{ orderCheckoutPage!.Title }}
				</BaseTypography>
				<CartProducts :cart-products="cartProducts" :order-checkout-page="orderCheckoutPage!" />
				<CartProductsPriceSummary
					v-if="cartProducts.length"
					:free-shipping-description="orderCheckoutPage!.FreeShippingDescription"
					:label="orderCheckoutPage!.SubtotalLabel"
					:price="allProductsPrice"
				/>
				<div
					v-if="!!cartProducts.filter(({ disabled }) => !disabled).length"
					class="delivery-summary"
				>
					<div class="delivery-summary__wrapper">
						<div class="delivery-summary__container">
							<CartDeliveryForm
								:form-values="formValues"
								:order-checkout-page="orderCheckoutPage!"
								:submitting-order="submittingOrder"
								:touched-fields="touchedFields"
								@change="handleFormValueChange"
								@touched="handleFieldTouched"
							/>
						</div>
						<div class="delivery-summary__container">
							<CartSummary
								:all-products-price="allProductsPrice"
								:free-shipping-for-product="freeShippingForProduct"
								:order-checkout-page="orderCheckoutPage!"
								:submitting-order="submittingOrder"
								@submit="handleOrderSubmit"
							/>
						</div>
					</div>
				</div>
			</div>
		</ErrorHandler>
	</ErrorHandler>
</template>

<script lang="ts" setup>
	import { computed, ref, useRuntimeConfig, watch } from '#imports';
	import { useGetOrderCheckoutPage } from '@app/api/orderCheckoutPage';
	import { useGetProducts } from '@app/api/products';
	import {
		generateOrderPayload,
		getAllCartProductsPrice,
		mapProductsFromCart,
		validateCartForm,
	} from '@app/utils/cart';
	import { useCartStore } from '@app/utils/stores/cart';
	import { useSnackbarStore } from '@app/utils/stores/snackbar';
	import { usePageSeo } from '@app/utils/usePageSeo';
	import { DeliveryFormValues } from '@app/types/DeliveryFormValues';
	import { createOrder } from '@app/api/order';

	const cartStore = useCartStore();
	const snackbarStore = useSnackbarStore();
	const runtimeConfig = useRuntimeConfig();

	const {
		data: products,
		pending: productsPending,
		error: productsError,
		refresh: productsRefresh,
	} = useGetProducts();

	const {
		data: orderCheckoutPage,
		pending: orderCheckoutPagePending,
		error: orderCheckoutPageError,
		refresh: orderCheckoutPageRefresh,
	} = useGetOrderCheckoutPage();

	watch(
		orderCheckoutPage,
		() => {
			usePageSeo(orderCheckoutPage.value?.Seo);
		},
		{
			immediate: true,
		},
	);

	const formValues = ref<DeliveryFormValues>({
		firstName: '',
		lastName: '',
		phoneNumber: '',
		email: '',
		inpostOffice: null,
		privacyAgreement: false,
	});
	const touchedFields = ref<Record<keyof DeliveryFormValues, boolean>>({
		firstName: false,
		lastName: false,
		phoneNumber: false,
		email: false,
		inpostOffice: false,
		privacyAgreement: false,
	});

	const submittingOrder = ref(false);
	const cartProductsFromStore = computed(() =>
		products.value ? mapProductsFromCart(products.value, cartStore.products) : [],
	);
	const cartProducts = computed(() => cartProductsFromStore.value);
	const allProductsPrice = computed(() => getAllCartProductsPrice(cartProducts.value));
	const freeShippingForProduct = computed(() =>
		cartProducts.value.some((cartProduct) => cartProduct.attributes.FreeShipping),
	);

	function handleFormValueChange<FieldName extends keyof DeliveryFormValues>(
		fieldName: FieldName,
		value: DeliveryFormValues[FieldName],
	) {
		formValues.value[fieldName] = value;
	}

	function handleFieldTouched(fieldName: keyof DeliveryFormValues) {
		touchedFields.value[fieldName] = true;
	}

	async function handleOrderSubmit({
		promoCode,
		shippingPrice,
		totalPrice,
	}: {
		promoCode: {
			code: string;
			percentage: number;
		} | null;
		shippingPrice: number;
		totalPrice: number;
	}) {
		Object.keys(touchedFields.value).forEach((key) => {
			touchedFields.value[key as keyof typeof touchedFields.value] = true;
		});

		if (!validateCartForm(formValues.value)) {
			return;
		}

		try {
			submittingOrder.value = true;
			const result = await createOrder(
				runtimeConfig,
				generateOrderPayload({
					formValues: formValues.value,
					cartProducts: cartProducts.value,
					promoCode: promoCode?.code || null,
					shippingPrice,
					totalPrice,
				}),
			);

			cartStore.removeAllProducts();

			window.location.href = result.payuRedirectUrl;
		} catch (e) {
			submittingOrder.value = false;
			if (orderCheckoutPage.value?.SubmitError) {
				snackbarStore.showNotification({ text: orderCheckoutPage.value.SubmitError });
			}
		}
	}
</script>

<style lang="scss" scoped>
	.cart-loader {
		margin-top: 20px;
	}

	.cart {
		&__title {
			text-align: center;
			margin-bottom: 70px;
			padding: 70px $layout-side-padding 0;

			@media (max-width: breakpoint(md)) {
				padding: 0 $layout-side-padding-mobile 0;
			}
		}
	}

	.delivery-summary {
		padding: 0 $layout-side-padding;

		@media (max-width: breakpoint(md)) {
			padding: 0 $layout-side-padding-mobile;
		}

		&__wrapper {
			display: grid;
			grid-template-columns: 50% 50%;
			border: 1px solid $color-gray;

			@media (max-width: breakpoint(md)) {
				display: block;
				border: none;
			}
		}

		&__container {
			padding: 70px 7vw;

			@media (max-width: breakpoint(md)) {
				padding: 0;
				margin-bottom: 100px;
			}

			&:first-child {
				border-right: 1px solid $color-gray;

				@media (max-width: breakpoint(md)) {
					border: none;
				}
			}
		}
	}
</style>
