<template>
	<div class="products-price-summary">
		<BaseTypography
			:size="{ default: 'mediumLarge', md: 'medium' }"
			:weight="700"
			class="products-price-summary__price"
			>{{ props.label }} — ZŁ {{ props.price }}
		</BaseTypography>
		<BaseTypography :weight="500" class="products-price-summary__free-shipping"
			>{{ splitTextByHalf(props.freeShippingDescription || '') }}
		</BaseTypography>
	</div>
</template>

<script lang="ts" setup>
	import { splitTextByHalf } from '@app/utils/text';

	interface Props {
		price: number;
		label: string;
		freeShippingDescription: string;
	}

	const props = defineProps<Props>();
</script>

<style lang="scss" scoped>
	.products-price-summary {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 $layout-side-padding 0;
		margin-bottom: 85px;

		@media (max-width: breakpoint(md)) {
			margin-top: 40px;
			flex-direction: column;
			padding: 0 $layout-side-padding-mobile 0;
		}

		&:before,
		&:after {
			content: '';
			height: 1px;
			flex: 1 1 auto;
			background-color: $color-gray;

			@media (max-width: breakpoint(md)) {
				display: none;
			}
		}

		&:before {
			margin-right: 5vw;
		}

		&:after {
			margin-left: 5vw;
		}

		&__price {
			margin-right: 37px;

			@media (max-width: breakpoint(md)) {
				margin-right: 0;
			}
		}

		&__free-shipping {
			color: $color-gray;
			text-transform: none;
			white-space: pre-line;

			@media (max-width: breakpoint(md)) {
				white-space: normal;
			}
		}
	}
</style>
