<template>
	<BaseTypography
		v-if="!props.cartProducts.length"
		:weight="600"
		as="div"
		class="cart-empty-products"
		>{{ props.orderCheckoutPage.EmptyCartLabel }}
	</BaseTypography>
	<div class="cart-products">
		<div
			v-for="product in props.cartProducts"
			:key="`${product.id}/${product.cartInfo.sizeId}`"
			:class="{ disabled: product.disabled }"
			class="product"
		>
			<div class="product__image">
				<BaseDisplaysImage
					:alt="product.attributes.Title"
					:image="product.attributes.MainPhoto"
					sizes="(max-width: 991px) 100px, 190px"
				/>
			</div>
			<div class="product__info">
				<BaseControlsAppLink
					:to="`/product/${product.attributes.Slug}`"
					class="product__name-mobile"
				>
					<BaseTypography :weight="600" size="small">
						{{ product.attributes.product_type.data.attributes.Name }}
						{{ product.attributes.Title }}
					</BaseTypography>
				</BaseControlsAppLink>
				<div class="product__details">
					<BaseTypography class="product__details-label" size="small">
						{{ props.orderCheckoutPage.ProductDetailsLabel }}
					</BaseTypography>
					<BaseTypography size="small">{{ props.orderCheckoutPage.PriceLabel }}</BaseTypography>
					<BaseTypography size="small">{{ props.orderCheckoutPage.QuantityLabel }}</BaseTypography>
					<BaseTypography size="small">{{ props.orderCheckoutPage.SizeLabel }}</BaseTypography>
					<BaseTypography size="small">{{ props.orderCheckoutPage.ColorLabel }}</BaseTypography>
					<div></div>
					<BaseControlsAppLink :to="`/product/${product.attributes.Slug}`" class="product__name">
						<BaseTypography :weight="600" size="mediumLarge">
							{{ product.attributes.Title }}
						</BaseTypography>
					</BaseControlsAppLink>
					<BaseTypography :weight="500" class="product__price"
						>{{ product.attributes.Price }} PLN
					</BaseTypography>
					<div class="product__quantity">
						<button
							:disabled="product.cartInfo.quantity === 1 || product.disabled"
							class="product__quantity-subtract"
							title="Reduce product quantity by 1"
							@click="changeProductQuantity(product, false)"
						></button>
						<BaseTypography :weight="500">{{ product.cartInfo.quantity }}</BaseTypography>
						<button
							:disabled="
								product.cartInfo.quantity === 10 ||
								product.cartInfo.quantity === getProductFromCartSizeCount(product) ||
								product.disabled
							"
							class="product__quantity-add"
							title="Increase product quantity by 1"
							@click="changeProductQuantity(product, true)"
						></button>
					</div>
					<BaseTypography :weight="500.0">
						{{ getProductSizeTitle(product.attributes, product.cartInfo.sizeId) }}
					</BaseTypography>
					<div>
						<ProductColorCircle :color="product.attributes.Color" />
					</div>
					<div></div>
				</div>
			</div>
			<button class="product__remove-btn" title="Remove product" @click="removeProduct(product)">
				<SvgCross />
			</button>
		</div>
	</div>
</template>

<script lang="ts" setup>
	import { OrderCheckoutPage } from '@app/api/orderCheckoutPage';
	import { getProductFromCartSizeCount, ProductFromCart } from '@app/utils/cart';
	import { getProductSizeTitle } from '@app/utils/product';
	import { useCartStore } from '@app/utils/stores/cart';

	interface Props {
		orderCheckoutPage: OrderCheckoutPage;
		cartProducts: ProductFromCart[];
	}

	const props = defineProps<Props>();
	const cartStore = useCartStore();

	function changeProductQuantity(product: ProductFromCart, increase: boolean) {
		cartStore.changeProductQuantity(
			product.id,
			product.cartInfo.sizeId,
			product.cartInfo.quantity + (increase ? 1 : -1),
		);
	}

	function removeProduct(product: ProductFromCart) {
		cartStore.removeProduct(product.id, product.cartInfo.sizeId);
	}
</script>

<style lang="scss" scoped>
	.cart-empty-products {
		text-align: center;
	}

	.cart-products {
		margin-bottom: 88px;
		padding: 0 $layout-side-padding 0;

		@media (max-width: breakpoint(md)) {
			padding-left: 0;
			padding-right: $layout-side-padding-mobile;
		}
	}

	.product {
		display: flex;
		align-items: center;
		width: 100%;
		margin-bottom: 100px;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		&.disabled {
			opacity: 0.5;
		}

		&__image {
			width: 190px;
			margin-right: 130px;
			background-color: $color-background;

			@media (max-width: breakpoint(xl)) {
				margin-right: 50px;
			}

			@media (max-width: breakpoint(md)) {
				margin-right: 37px;
				width: 100px;
			}

			img {
				max-width: 100%;
			}
		}

		&__info {
			flex: 1 1 auto;
		}

		&__name-mobile {
			display: none;

			@media (max-width: breakpoint(md)) {
				color: $color-black;
				display: block;
				margin-bottom: 24px;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__details {
			flex: 1 1 auto;
			display: grid;
			grid-template-columns:
				minmax(300px, 45%) minmax(0px, 100px) minmax(0px, 100px)
				minmax(0px, 100px) minmax(0px, 100px) 1fr;

			@media (max-width: breakpoint(xl)) {
				grid-template-columns:
					minmax(270px, 45%) minmax(0px, 100px) minmax(0px, 100px)
					minmax(0px, 100px) minmax(0px, 100px) 1fr;
			}

			@media (max-width: breakpoint(md)) {
				grid-template-columns: auto 1fr 1fr auto 0;
			}

			& > * {
				text-align: center;
				padding-bottom: 40px;
				margin-bottom: 40px;
				border-bottom: 1px solid $color-divider;

				@media (max-width: breakpoint(md)) {
					padding-bottom: 15px;
					margin-bottom: 15px;
				}

				&:nth-child(n + 7) {
					padding-bottom: 0;
					margin-bottom: 0;
					border-bottom: none;
					display: flex;
					justify-content: center;
					align-items: center;

					@media (max-width: breakpoint(md)) {
						padding-bottom: 0;
						margin-bottom: 0;
					}
				}
			}
		}

		&__details-label {
			text-align: left;

			@media (max-width: breakpoint(md)) {
				display: none;
			}
		}

		&__name {
			&#{&} {
				color: $color-black;
				justify-content: flex-start;

				&:hover {
					text-decoration: underline;
				}

				@media (max-width: breakpoint(md)) {
					display: none;
				}
			}
		}

		&__quantity-add,
		&__quantity-subtract {
			position: relative;
			width: 20px;
			height: 20px;
			margin-right: 11px;
			display: block;
			flex-shrink: 0;

			&:disabled {
				&:before,
				&:after {
					background-color: $color-gray;
				}
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 5px;
				top: 50%;
				transform: translateY(-50%);
				width: 10px;
				height: 1px;
				background-color: $color-black;
			}
		}

		&__quantity-add {
			margin-left: 11px;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 5px;
				left: 50%;
				transform: translateX(-50%);
				height: 10px;
				width: 1px;
				background-color: $color-black;
			}
		}

		&__remove-btn {
			width: 38px;
			height: 38px;
			padding: 5px;
			margin-left: 8%;
			position: relative;
			bottom: 6px;

			@media (max-width: breakpoint(xl)) {
				margin-left: 5%;
				width: 28px;
				height: 28px;
			}

			@media (max-width: breakpoint(md)) {
				margin-left: 0;
				position: absolute;
				right: 0;
				top: 0;
				bottom: auto;
				transform: translateY(-50%);
			}

			svg {
				width: 100%;
				height: 100%;
				color: $color-black;
			}
		}
	}
</style>
