<template>
	<div class="promo-code-input">
		<input
			v-model="promoCode"
			:placeholder="orderCheckoutPage?.PromoCodePlaceholder"
			name="promoCode"
			type="text"
			@keyup="handleKeyDown"
		/>
		<button v-show="!!promoCode" type="button" @click="handlePromoCodeSubmit"></button>
	</div>
</template>

<script lang="ts" setup>
	import { ref, useRuntimeConfig } from '#imports';
	import { getPromoCode } from '@app/api/findPromoCode';
	import { OrderCheckoutPage } from '@app/api/orderCheckoutPage';
	import { useSnackbarStore } from '@app/utils/stores/snackbar';
	import { PromoCodeValue } from '@app/types/PromoCodeValue';

	interface Props {
		orderCheckoutPage: OrderCheckoutPage;
	}

	interface Events {
		(e: 'apply', value: null | PromoCodeValue): void;
	}

	const props = defineProps<Props>();
	const emit = defineEmits<Events>();
	const runtimeConfig = useRuntimeConfig();
	const snackbarStore = useSnackbarStore();
	const promoCode = ref('');

	let promoCodeLoading = false;

	function handleKeyDown(event: KeyboardEvent) {
		if (event.key === 'Enter') {
			handlePromoCodeSubmit();
		}
	}

	async function handlePromoCodeSubmit() {
		if (promoCodeLoading) {
			return;
		}

		const promoCodeValue = promoCode.value.trim();

		if (!promoCodeValue) {
			emit('apply', null);
			return;
		}

		try {
			promoCodeLoading = true;
			snackbarStore.clearNotification();
			const promoCodeResponse = await getPromoCode(runtimeConfig, promoCodeValue);
			emit('apply', {
				code: promoCodeValue,
				percentage: promoCodeResponse.discountPercentage,
			});
			snackbarStore.showNotification({
				text: props.orderCheckoutPage.PromoCodeValidNotification.replace(
					'$percentage',
					`${promoCodeResponse.discountPercentage}`,
				),
			});
			promoCode.value = '';
		} catch (e) {
			promoCode.value = '';
			emit('apply', null);
			snackbarStore.showNotification({
				text: props.orderCheckoutPage.PromoCodeInvalidNotification,
			});
		} finally {
			promoCodeLoading = false;
		}
	}
</script>

<style lang="scss" scoped>
	.promo-code-input {
		position: relative;
	}

	button {
		position: absolute;
		width: 18px;
		height: 20px;
		right: 0;

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			left: 0;
			background-color: $color-black;
		}

		&:after {
			content: '';
			width: 12px;
			height: 12px;
			position: absolute;
			right: 1px;
			top: 4px;
			transform: rotate(45deg);
			border-top: 1px solid $color-black;
			border-right: 1px solid $color-black;
		}
	}

	input {
		border: none;
		border-bottom: 1px solid $color-gray;
		background-color: transparent;
		padding-bottom: 20px;
		padding-right: 20px;
		width: 150px;

		&::placeholder {
			color: $color-gray;
		}
	}
</style>
