<template>
	<div class="summary-header">
		<CartPromoCodeInput :order-checkout-page="orderCheckoutPage" @apply="handlePromoCodeApply" />
		<BaseTypography :size="{ default: 'large', md: 'mediumLarge' }" :weight="600"
			>{{ orderCheckoutPage.TotalLabel }}
		</BaseTypography>
	</div>
	<div>
		<div v-if="promoCode" class="summary-row">
			<div>{{ orderCheckoutPage.PromoCodeLabel }}</div>
			<div>-{{ promoCode.percentage }}%</div>
		</div>
		<div class="summary-row">
			<div>{{ orderCheckoutPage.SubtotalLabel }}</div>
			<div>
				<s v-if="promoCode">{{ props.allProductsPrice }} PLN</s>
				<span>{{ cartPrices.subtotalWithPromoCodePrice }} PLN</span>
			</div>
		</div>
		<BaseTypography :size="{ default: 'medium', md: 'small' }" :weight="500" class="summary-row">
			<div>{{ orderCheckoutPage.ShippingLabel }}</div>
			<div>
				<s
					v-if="
						props.freeShipping ||
						cartPrices.subtotalWithPromoCodePrice >= orderCheckoutPage.FreeShippingFrom
					"
				>
					{{ orderCheckoutPage.ShippingPrice }} PLN</s
				>
				<span>{{ cartPrices.shippingPrice }} PLN</span>
			</div>
		</BaseTypography>
		<BaseTypography :size="{ default: 'medium', md: 'small' }" :weight="500" class="summary-row">
			<div>{{ orderCheckoutPage.TotalLabel }}</div>
			<div>{{ cartPrices.totalPrice }} PLN</div>
		</BaseTypography>
	</div>
	<BaseControlsPrimaryButton
		:class="{ loading: props.submittingOrder }"
		:loading="props.submittingOrder"
		:title="orderCheckoutPage.PayLabel"
		@click="handleSubmit"
	/>
</template>

<script lang="ts" setup>
	import { ref, computed } from '#imports';
	import { OrderCheckoutPage } from '@app/api/orderCheckoutPage';
	import { PromoCodeValue } from '@app/types/PromoCodeValue';
	import { getCartPrices } from '@app/utils/cart';

	interface Props {
		orderCheckoutPage: OrderCheckoutPage;
		submittingOrder: boolean;
		freeShippingForProduct: boolean;
		allProductsPrice: number;
	}

	interface Events {
		(
			e: 'submit',
			value: { promoCode: PromoCodeValue | null; shippingPrice: number; totalPrice: number },
		): void;
	}

	const props = defineProps<Props>();
	const emit = defineEmits<Events>();
	const promoCode = ref<PromoCodeValue | null>(null);

	const cartPrices = computed(() =>
		getCartPrices({
			promoCode: promoCode.value,
			freeShippingFromPrice: props.orderCheckoutPage.FreeShippingFrom,
			allProductsPrice: props.allProductsPrice,
			freeShippingForProduct: props.freeShippingForProduct,
			defaultShippingPrice: props.orderCheckoutPage.ShippingPrice,
		}),
	);

	function handlePromoCodeApply(value: PromoCodeValue | null) {
		promoCode.value = value;
	}

	function handleSubmit() {
		emit('submit', {
			promoCode: promoCode.value,
			shippingPrice: cartPrices.value.shippingPrice,
			totalPrice: cartPrices.value.totalPrice,
		});
	}
</script>

<style lang="scss" scoped>
	.summary-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 43px;

		input {
			border: none;
			border-bottom: 1px solid $color-gray;
			background-color: transparent;
			padding-bottom: 20px;
			padding-right: 20px;
			width: 150px;

			&::placeholder {
				color: $color-gray;
			}
		}
	}

	.summary-row {
		border-bottom: 1px solid $color-gray;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 18px;

		& + & {
			margin-top: 20px;
		}

		s {
			margin-right: 25px;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	button {
		margin-top: 40px;
	}
</style>
