<template>
	<ErrorHandler :api-error="aboutError" :reload="aboutRefresh">
		<div class="about-page">
			<div class="about-page__video">
				<div class="about-page__video-wrapper">
					<video ref="videoRef" controls>
						<source :src="about.Video.data.attributes.url" type="video/mp4" />
						Your browser does not support the video tag.
					</video>
				</div>
			</div>
			<div class="about-page__info">
				<div class="about-page__info-title">
					{{ about.Title }}
				</div>
				<div class="about-page__info-details">
					<BaseTypography :weight="700" class="about-page__info-details-title">
						{{ about.StartingDate }}
					</BaseTypography>
					<BaseTypography class="about-page__info-details-description">
						{{ about.StartingDescription }}
					</BaseTypography>
					<BaseTypography :weight="700" class="about-page__info-details-title">
						{{ about.QualityTitle }}
					</BaseTypography>
					<div
						class="about-page__info-details-description about-page__info-details-description-with-image"
					>
						<BaseTypography>{{ about.QualityDescription }}</BaseTypography>
						<SvgSignature />
					</div>
				</div>
			</div>
		</div>
	</ErrorHandler>
</template>

<script lang="ts" setup>
	import { onMounted, ref } from '#imports';
	import { useGetAboutPage } from '@app/api/about';
	import { usePageSeo } from '@app/utils/usePageSeo';

	const { data: about, error: aboutError, refresh: aboutRefresh } = await useGetAboutPage();

	usePageSeo(about.value?.Seo);

	const videoRef = ref<HTMLVideoElement>();

	onMounted(() => {
		videoRef.value?.play();
	});
</script>

<style lang="scss" scoped>
	.about-page {
		margin: 90px $layout-side-padding 0;
		border: 1px solid $color-divider;
		display: flex;
		align-items: stretch;

		@media (max-width: breakpoint(md)) {
			margin: 0;
			padding: 0 $layout-side-padding-mobile;
			display: block;
			border: none;
		}

		&__video {
			border-right: 1px solid $color-divider;
			padding: 50px;
			width: 35%;
			flex: 0 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;

			@media (max-width: breakpoint(xl)) {
				width: 50%;
			}

			@media (max-width: breakpoint(lg)) {
				width: 40%;
			}

			@media (max-width: breakpoint(md)) {
				width: 100%;
				border: none;
				padding: 0;
			}
		}

		&__video-wrapper {
			width: 100%;
			height: 100%;
			position: relative;

			video {
				width: 100%;
			}
		}

		&__info {
			display: flex;
			flex-direction: column;
			padding: 0 5vw 0 8vw;
			justify-content: center;

			@media (max-width: breakpoint(xxl)) {
				padding: 100px 50px 100px 50px;
			}

			@media (max-width: breakpoint(lg)) {
				padding: 50px;
			}
		}

		&__info-title {
			font-size: 100px;
			line-height: 110%;
			white-space: pre;
			word-break: break-all;
			margin-bottom: 100px;

			@media (max-width: breakpoint(xxl)) {
				font-size: 60px;
				margin-bottom: 70px;
			}

			@media (max-width: breakpoint(md)) {
				font-size: 35px;
				margin-bottom: 50px;
			}
		}

		&__info-details {
			display: grid;
			grid-template-columns: auto auto;
			row-gap: 50px;

			@media (max-width: breakpoint(md)) {
				display: block;
			}
		}

		&__info-details-title {
			white-space: nowrap;
			margin-right: 42px;
			color: $color-gray;

			@media (max-width: breakpoint(md)) {
				margin-right: 0;
				margin-bottom: 24px;
			}
		}

		&__info-details-description {
			color: $color-gray;
			text-transform: none;
			white-space: pre-line;

			@media (max-width: breakpoint(md)) {
				&:not(:last-child) {
					margin-bottom: 30px;
				}
			}
		}

		&__info-details-description-with-image {
			display: flex;
			align-items: flex-end;

			@media (max-width: breakpoint(xl)) {
				display: block;
			}

			svg {
				width: 250px;
				transform: translateY(50%);

				@media (max-width: breakpoint(xl)) {
					transform: none;
					margin-top: 20px;
				}

				@media (max-width: breakpoint(md)) {
					width: 350px;
					margin: 50px auto 0;
					display: block;
				}
			}
		}
	}
</style>
