<template>
	<InfoPage :data="data" :error="error" @refresh="refresh" />
</template>

<script lang="ts" setup>
	import { useGetClothingCarePage } from '@app/api/clothingCarePage';

	const { data, error, refresh } = await useGetClothingCarePage();
</script>
