<template>
	<InfoPage :data="data" :error="error" @refresh="refresh" />
</template>

<script lang="ts" setup>
	import { useGetContactUsPage } from '@app/api/contactUsPage';

	const { data, error, refresh } = await useGetContactUsPage();
</script>
