<template>
	<InfoPage :data="data" :error="error" @refresh="refresh" />
</template>

<script lang="ts" setup>
	import { useGetPrivacyPolicyPage } from '@app/api/privacyPolicyPage';

	const { data, error, refresh } = await useGetPrivacyPolicyPage();
</script>
