<template>
	<InfoPage :data="data" :error="error" @refresh="refresh" />
</template>

<script lang="ts" setup>
	import { useGetPublicOfferAgreementPage } from '@app/api/publicOfferAgreementPage';

	const { data, error, refresh } = await useGetPublicOfferAgreementPage();
</script>
