<template>
	<InfoPage :data="data" :error="error" @refresh="refresh" />
</template>

<script lang="ts" setup>
	import { useGetReturnAndExchangePage } from '@app/api/returnAndExchangePage';

	const { data, error, refresh } = await useGetReturnAndExchangePage();
</script>
