<template>
	<InfoPage :data="data" :error="error" @refresh="refresh" />
</template>

<script lang="ts" setup>
	import { useGetShippingAndPaymentPage } from '@app/api/shippingAndPaymentPage';

	const { data, error, refresh } = await useGetShippingAndPaymentPage();
</script>
