<template>
	<svg height="594pt" viewBox="0 0 812 594" width="812pt">
		<path
			d=" M 1.65 22.26 C -2.39 13.26 5.24 1.71 15.01 1.44 C 47.00 1.41 79.00 1.47 110.99 1.40 C 117.64 1.16 124.35 5.85 125.87 12.44 C 160.90 148.13 196.09 283.79 231.11 419.47 C 231.52 420.44 232.03 421.37 232.45 422.36 C 394.78 422.39 557.11 422.39 719.45 422.36 C 721.56 417.47 721.98 412.12 723.24 406.99 C 740.69 323.84 758.38 240.75 775.70 157.58 C 745.47 157.25 715.23 157.53 685.00 157.44 C 534.67 157.44 384.33 157.44 234.00 157.44 C 228.70 157.36 222.84 158.30 218.25 154.96 C 210.13 150.04 208.81 137.21 215.89 130.85 C 219.67 126.63 225.62 125.90 230.95 125.61 C 415.64 125.65 600.32 125.59 785.01 125.64 C 790.38 126.50 795.87 126.08 801.24 126.85 C 807.71 128.41 810.36 134.99 812.00 140.74 L 812.00 145.26 C 810.85 146.97 810.17 148.89 809.79 150.90 C 790.05 246.02 770.23 341.11 750.46 436.22 C 749.48 441.06 749.07 446.62 745.23 450.21 C 741.26 454.17 735.42 455.16 730.04 455.26 C 561.01 455.24 391.99 455.24 222.96 455.26 C 217.85 455.10 212.23 454.41 208.40 450.67 C 204.94 447.74 204.10 443.10 202.96 438.96 C 174.01 327.97 145.07 216.97 116.08 105.99 C 109.93 81.53 103.02 57.25 97.21 32.70 C 69.47 32.34 41.70 32.71 13.95 32.53 C 8.48 31.73 3.36 27.59 1.65 22.26 Z"
			fill="#000000"
			opacity="1.00"
		/>
		<path
			d=" M 321.13 471.35 C 327.89 471.36 334.84 470.58 341.44 472.48 C 364.42 477.34 383.58 496.89 387.61 520.08 C 387.96 527.72 387.92 535.39 387.65 543.03 C 384.04 564.47 367.66 583.22 346.88 589.68 C 340.56 592.20 333.66 591.73 327.00 591.83 C 321.24 591.72 315.28 592.04 309.79 589.97 C 296.19 585.58 283.86 576.65 276.43 564.32 C 269.79 554.52 267.27 542.60 266.66 530.98 C 267.31 527.97 267.55 524.91 267.72 521.85 C 270.41 505.82 279.69 491.00 293.12 481.81 C 301.27 475.87 311.18 472.47 321.13 471.35 Z"
			fill="#000000"
			opacity="1.00"
		/>
		<path
			d=" M 622.15 471.38 C 629.30 471.35 636.63 470.55 643.61 472.49 C 666.56 477.42 685.44 496.99 689.63 520.07 C 689.94 527.71 689.91 535.36 689.66 543.00 C 685.74 566.86 665.81 586.92 642.12 591.44 C 633.74 591.97 625.29 592.10 616.93 591.29 C 605.16 588.85 594.21 582.71 585.90 574.04 C 577.39 565.39 572.03 553.94 569.85 542.07 C 569.07 535.40 569.32 528.64 569.67 521.95 C 572.39 505.17 582.56 489.71 596.95 480.64 C 604.38 475.48 613.30 472.74 622.15 471.38 Z"
			fill="#000000"
			opacity="1.00"
		/>
	</svg>
</template>
