<template>
	<svg fill="none" height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg">
		<path
			d="M0.46681 1.70711L14.3798 15.6201L15.7941 14.2059L1.88102 0.292893L0.46681 1.70711ZM14.3798 15.6201L28.2929 29.5332L29.7071 28.119L15.7941 14.2059L14.3798 15.6201ZM28.119 0.466788L14.3798 14.2059L15.7941 15.6201L29.5332 1.881L28.119 0.466788ZM14.3798 14.2059L0.292893 28.2929L1.70711 29.7071L15.7941 15.6201L14.3798 14.2059Z"
			fill="currentColor"
		/>
	</svg>
</template>
