<template>
	<svg fill="none" height="16" viewBox="0 0 34 16" width="34" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 15h18M0 8h24M0 1h34" stroke="#323232" stroke-width="2" />
	</svg>
</template>
