<template>
	<div>
		<ClientOnly>
			<Suspense>
				<Cart />
				<template #fallback>
					<BaseDisplaysLoader class="cart-loader" />
				</template>
			</Suspense>
		</ClientOnly>
	</div>
</template>

<style lang="scss" scoped>
	.cart-loader {
		margin-top: 20px;
	}
</style>
