<template>
	<ErrorHandler :api-error="orderStatusPageError" :reload="orderStatusPageRefresh">
		<ErrorHandler :api-error="statusError">
			<div class="order-status-page">
				<div class="order-success">
					<BaseTypography :weight="600" class="order-success__title" size="xLarge">
						{{ status ? orderStatusPage[`${status}Title`] : '' }}
					</BaseTypography>
					<BaseTypography class="order-success__subtitle" size="mediumLarge">
						{{ status ? orderStatusPage[`${status}Subtitle`] : '' }}
					</BaseTypography>
				</div>
			</div>
		</ErrorHandler>
	</ErrorHandler>
</template>

<script lang="ts" setup>
	import { onMounted, ref, useRoute, useRuntimeConfig } from '#imports';
	import { useGetOrderStatusPage } from '@app/api/orderStatusPage';
	import { getOrderStatus } from '@app/api/orderStatus';
	import { usePageSeo } from '@app/utils/usePageSeo';

	const statusMap = {
		NEW: 'NEW',
		PENDING: 'PENDING',
	};

	const route = useRoute();
	const runtimeConfig = useRuntimeConfig();

	const {
		data: orderStatusPage,
		error: orderStatusPageError,
		refresh: orderStatusPageRefresh,
	} = await useGetOrderStatusPage();

	usePageSeo(orderStatusPage.value?.Seo);

	const status = ref<string | null>(null);
	const statusError = ref<Error | null>(null);

	onMounted(async () => {
		try {
			const orderStatus = await getOrderStatus(runtimeConfig, route.query.orderId as string);
			const parsedStatus =
				statusMap[orderStatus.status as keyof typeof statusMap] || orderStatus.status;

			status.value = parsedStatus.charAt(0).toUpperCase() + parsedStatus.slice(1).toLowerCase();
		} catch (e: unknown) {
			statusError.value = e as Error;
		}
	});
</script>

<style lang="scss" scoped>
	.order-status-page {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.order-success {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: 'SFUIText', serif;
		text-align: center;

		&__title {
			white-space: pre-line;
			margin-bottom: 10px;
		}
	}
</style>
