<template>
	<ErrorHandler :api-error="faqError" :reload="faqRefresh">
		<div class="content">
			<BaseTypography :weight="500" class="section-title" size="large">FAQ</BaseTypography>
			<div class="items">
				<BaseDisplaysAccordion
					v-for="(item, index) in faq || []"
					:active="sections[index]"
					:content="item.attributes.Description"
					:toggle-title="item.attributes.Title"
					class="item"
					@toggle="toggleSection(index as number)"
				>
					<template #toggle="{ active }">
						<BaseTypography
							:size="{
								default: active ? 'large' : 'mediumLarge',
								md: 'mediumLarge',
							}"
							class="item__title"
						>
							{{ item.attributes.Title }}
						</BaseTypography>
					</template>
					<template #icon="{ active }">
						<span :class="{ active }" class="item__toggle" />
					</template>
				</BaseDisplaysAccordion>
			</div>
		</div>
	</ErrorHandler>
</template>

<script lang="ts" setup>
	import { ref } from '#imports';
	import { useGetFaqs } from '@app/api/faq';

	const { data: faq, error: faqError, refresh: faqRefresh } = await useGetFaqs();

	const sections = ref(new Array(faq.value?.length).fill(false));

	const toggleSection = (index: number) => {
		sections.value.forEach((item, i) => {
			if (i !== index) {
				sections.value[i] = false;
			}
		});
		sections.value[index] = !sections.value[index];
	};
</script>

<style lang="scss" scoped>
	.content {
		display: flex;
		align-items: flex-start;
		padding: 207px $layout-side-padding 0;

		@media (max-width: breakpoint(xl)) {
			padding: 100px $layout-side-padding 0;
		}

		@media (max-width: breakpoint(md)) {
			padding: 0 $layout-side-padding-mobile;
		}
	}

	.section-title {
		padding-right: 20%;

		@media (max-width: breakpoint(md)) {
			display: none;
		}
	}

	.items {
		flex: 1 1 auto;
	}

	.item {
		padding: 40px 0;

		@media (max-width: breakpoint(md)) {
			padding: 30px 0;
		}

		&:first-child {
			padding-top: 0;
			margin-top: 4px;
		}

		&__title {
			flex-shrink: 0;
			margin-right: 50px;
			transition:
				font-size 300ms ease-in-out,
				line-height 300ms ease-in-out;

			@media (max-width: breakpoint(md)) {
				order: 0;
			}
		}

		&__toggle {
			width: 38px;
			position: relative;
			display: block;
			margin-left: 30px;
			flex-shrink: 0;
			transition: transform 300ms ease-in-out;

			@media (max-width: breakpoint(md)) {
				order: 0;
			}

			&.active {
				transform: rotateX(180deg);
			}

			&:before,
			&:after {
				content: '';
				width: 13px;
				height: 2px;
				background-color: $color-gray;
				transform: rotate(45deg);
				top: calc(50% - 2px);
				left: 3px;
				position: absolute;
			}

			&:after {
				transform: rotate(-45deg);
				left: 11px;
			}
		}
	}
</style>
