<template>
	<ErrorHandler :api-error="instaError" :reload="instaRefresh">
		<div>
			<div class="header">
				<BaseTypography
					:size="{ default: 'large', md: 'medium' }"
					:weight="500"
					as="div"
					class="title"
				>
					{{ insta.Title }}
				</BaseTypography>
				<BaseControlsAppLink :to="insta.Link" class="link">
					<BaseTypography :size="{ default: 'large', md: 'medium' }" :weight="500">
						{{ insta.LinkTitle }}
					</BaseTypography>
				</BaseControlsAppLink>
			</div>
			<div class="images">
				<div class="images-left">
					<div class="top-left-image">
						<BaseDisplaysImage
							:image="insta.TopLeftImage"
							alt="Instagram image"
							sizes="(max-width: 575px) 0vw, 27.5vw"
						/>
					</div>
					<div class="bottom-left-image">
						<BaseDisplaysImage
							:image="insta.BottomLeftImage"
							alt="Instagram image"
							sizes="(max-width: 575px) 0vw, 27.5vw"
						/>
					</div>
				</div>
				<div class="center-image">
					<BaseDisplaysImage
						:image="insta.CenterImage"
						alt="Instagram image"
						sizes="(max-width: 575px) 0vw, 45vw"
					/>
				</div>
				<div class="images-right">
					<div class="top-right-image">
						<BaseDisplaysImage
							:image="insta.TopRightImage"
							alt="Instagram image"
							sizes="(max-width: 575px) 0vw, 27.5vw"
						/>
					</div>
					<div class="bottom-right-image">
						<BaseDisplaysImage
							:image="insta.BottomRightImage"
							alt="Instagram image"
							sizes="(max-width: 575px) 0vw, 27.5vw"
						/>
					</div>
				</div>
			</div>
			<div class="slider">
				<ClientOnly>
					<carousel :items-to-show="1.5">
						<slide key="top-left-image">
							<div class="slide-image">
								<div>
									<BaseDisplaysImage
										:image="insta.TopLeftImage"
										alt="Instagram image"
										sizes="(max-width: 575px) 62.5vw, 0vw"
									/>
								</div>
							</div>
						</slide>
						<slide key="bottom-left-image">
							<div class="slide-image">
								<div>
									<BaseDisplaysImage
										:image="insta.BottomLeftImage"
										alt="Instagram image"
										sizes="(max-width: 575px) 62.5vw, 0vw"
									/>
								</div>
							</div>
						</slide>
						<slide key="center-image">
							<div class="slide-image">
								<div>
									<BaseDisplaysImage
										:image="insta.CenterImage"
										alt="Instagram image"
										sizes="(max-width: 575px) 62.5vw, 0vw"
									/>
								</div>
							</div>
						</slide>
						<slide key="top-right-image">
							<div class="slide-image">
								<div>
									<BaseDisplaysImage
										:image="insta.TopRightImage"
										alt="Instagram image"
										sizes="(max-width: 575px) 62.5vw, 0vw"
									/>
								</div>
							</div>
						</slide>
						<slide key="bottom-right-image">
							<div class="slide-image">
								<div>
									<BaseDisplaysImage
										:image="insta.BottomRightImage"
										alt="Instagram image"
										sizes="(max-width: 575px) 62.5vw, 0vw"
									/>
								</div>
							</div>
						</slide>
					</carousel>
				</ClientOnly>
			</div>
		</div>
	</ErrorHandler>
</template>

<script lang="ts" setup>
	import { useGetOurInstaPage } from '@app/api/ourInsta';
	import { Carousel, Slide } from 'vue3-carousel';

	const { data: insta, error: instaError, refresh: instaRefresh } = await useGetOurInstaPage();
</script>

<style lang="scss" scoped>
	.header {
		margin: 0 0 65px;
		padding: 0 $layout-side-padding;

		@media (max-width: breakpoint(xl)) {
			padding: 100px $layout-side-padding 65px;
		}

		@media (max-width: breakpoint(md)) {
			padding: 0 $layout-side-padding-mobile;
			display: flex;
			margin: 90px 0 22px;
		}
	}

	.title,
	.link {
		margin-bottom: 20px;

		@media (max-width: breakpoint(md)) {
			margin-bottom: 0;
		}
	}

	.link {
		color: $color-gray;
		margin-left: 3%;
	}

	.images {
		width: 100%;
		display: flex;

		@media (max-width: breakpoint(xs)) {
			display: none;
		}

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.images-left,
	.images-right {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-right: 5%;

		div {
			max-width: 330px;

			&:last-child {
				margin-left: auto;
			}
		}
	}

	.images-right {
		margin-right: 0;
		margin-left: 5%;
	}

	.center-image {
		max-width: 45vw;
	}

	.slider {
		padding-left: $layout-side-padding-mobile;
		max-height: 0;
		overflow: hidden;

		@media (max-width: breakpoint(xs)) {
			max-height: none;
		}
	}

	.slide-image {
		position: relative;
		padding-bottom: 100%;
		width: 100%;

		div {
			position: absolute;
			left: 0;
			top: 0;
			width: calc(100% - 16px);
			height: 100%;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
</style>
