<template>
	<ErrorHandler :api-error="homepageError" :reload="homepageRefresh">
		<ErrorHandler :api-error="productTypesManError" :reload="productTypesManRefresh">
			<ErrorHandler :api-error="productTypesWomanError" :reload="productTypesWomanRefresh">
				<div class="content">
					<BaseControlsAppLink
						:title="homepage.ForHer"
						:to="`/products/woman/${productTypesWoman[0].attributes.Slug}`"
						class="side-image"
					>
						<BaseDisplaysImage
							:alt="homepage.ForHer"
							:image="homepage.LeftPhoto"
							sizes="(max-width: 991px) calc(50vw - 35px), calc((100vw - 420px) / 2)"
						/>
					</BaseControlsAppLink>
					<div class="main">
						<div class="logo">
							<SvgLogo />
						</div>
						<BaseTypography :size="{ default: 'large', lg: 'medium' }" :weight="500" class="title">
							<span>{{ homepage.Title }}</span>
						</BaseTypography>
						<BaseControlsAppLink
							:to="`/products/woman/${productTypesMan[0].attributes.Slug}`"
							class="for-her"
						>
							<BaseTypography>{{ homepage.ForHer }}</BaseTypography>
							<div class="for-her__arrow" />
						</BaseControlsAppLink>
						<BaseControlsAppLink
							:to="`/products/man/${productTypesWoman[0].attributes.Slug}`"
							class="for-him"
						>
							<BaseTypography>{{ homepage.ForHim }}</BaseTypography>
							<div class="for-him__arrow" />
						</BaseControlsAppLink>
					</div>
					<BaseControlsAppLink
						:title="homepage.ForHim"
						:to="`/products/man/${productTypesMan[0].attributes.Slug}`"
						class="side-image"
					>
						<BaseDisplaysImage
							:alt="homepage.ForHim"
							:image="homepage.RightPhoto"
							sizes="(max-width: 991px) calc(50vw - 35px), calc((100vw - 420px) / 2)"
						/>
					</BaseControlsAppLink>
				</div>
			</ErrorHandler>
		</ErrorHandler>
	</ErrorHandler>
</template>

<script lang="ts" setup>
	import { useGetHomepage } from '@app/api/homepage';
	import { useGetProductTypes } from '@app/api/productTypes';
	import { usePageSeo } from '@app/utils/usePageSeo';

	const { data: homepage, error: homepageError, refresh: homepageRefresh } = await useGetHomepage();

	usePageSeo(homepage.value?.Seo);

	const [
		{ data: productTypesMan, error: productTypesManError, refresh: productTypesManRefresh },
		{ data: productTypesWoman, error: productTypesWomanError, refresh: productTypesWomanRefresh },
	] = await Promise.all([useGetProductTypes('man'), useGetProductTypes('woman')]);
</script>

<style lang="scss" scoped>
	.content {
		display: flex;
		width: 100%;
		align-items: center;
		position: relative;
		min-height: 600px;

		@media (max-width: breakpoint(lg)) {
			min-height: 0;
		}

		@media (max-width: breakpoint(md)) {
			flex-wrap: wrap;
		}
	}

	.side-image {
		flex: 1 1 0;

		@media (max-width: breakpoint(md)) {
			order: 0;
			width: calc(50% - 35px);

			&:first-child {
				margin-right: 70px;
			}
		}

		img {
			max-width: 100%;
		}
	}

	.main {
		padding: 0 85px;

		@media (max-width: breakpoint(lg)) {
			padding: 0 35px;
		}

		@media (max-width: breakpoint(md)) {
			order: 1;
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-top: 28px;
			padding: 0 $layout-side-padding-mobile;
		}
	}

	.logo {
		margin-bottom: 25px;

		@media (max-width: breakpoint(md)) {
			position: absolute;
			left: 50%;
			top: 10%;
			transform: translateX(-50%);
		}

		svg {
			width: 660px;

			@media (max-width: breakpoint(xl)) {
				width: 500px;
			}

			@media (max-width: breakpoint(lg)) {
				width: 350px;
			}

			@media (max-width: breakpoint(md)) {
				width: 225px;
			}

			@media (max-width: breakpoint(sm)) {
				width: 175px;
			}

			@media (max-width: breakpoint(xs)) {
				width: 110px;
			}
		}
	}

	.title {
		margin-bottom: 24px;
		text-align: center;
		white-space: pre-line;
		display: flex;
		justify-content: flex-end;

		@media (max-width: breakpoint(md)) {
			display: none;
		}
	}

	.for-her,
	.for-him {
		width: 200px;
		text-align: center;
		color: $color-black;
		display: block;

		@media (max-width: breakpoint(xs)) {
			width: 120px;
		}

		&__arrow {
			height: 19px;
			background-color: $color-black;
			position: relative;
			padding: 8.5px 0 9.5px;
			background-clip: content-box;

			&:before,
			&:after {
				content: '';
				background-color: $color-black;
				position: absolute;
				left: -2px;
				top: 4px;
				transform: rotate(-45deg);
				width: 13px;
				height: 1px;
			}

			&:after {
				top: 13px;
				transform: rotate(45deg);
			}
		}
	}

	.for-her {
		margin-bottom: 73px;

		@media (max-width: breakpoint(xl)) {
			margin-bottom: 50px;
		}

		@media (max-width: breakpoint(lg)) {
			margin-bottom: 35px;
		}
	}

	.for-him {
		margin-left: auto;

		&__arrow {
			&:before,
			&:after {
				left: auto;
				right: -2px;
			}

			&:before {
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}
		}
	}
</style>
