<template>
	<ErrorHandler :api-error="productPageError" :reload="productPageRefresh">
		<ErrorHandler :api-error="productError" :reload="productRefresh">
			<div class="product-page">
				<ProductImages :product="product" />
				<div>
					<div class="product-page__info">
						<div class="product-page__info-top">
							<ProductShortInfo
								:product="product"
								:product-page="productPage"
								:real-time-product="realTimeProduct"
							/>
							<ProductTitle :title="product.attributes.Title" />
						</div>
						<ProductSubheaderMobile :product="product" :product-page="productPage" />
						<div class="product-page__accordions-actions">
							<div class="product-page__accordions">
								<ProductDetails :product="product" :product-page="productPage" />
							</div>
							<div class="product-page__actions">
								<ProductActions
									:product="product"
									:product-page="productPage"
									:real-time-product="realTimeProduct"
								/>
							</div>
						</div>
					</div>
				</div>
				<ProductRelated :product="product!" :product-page="productPage" />
			</div>
		</ErrorHandler>
	</ErrorHandler>
</template>

<script lang="ts" setup>
	import { ref, useRoute, useRouter } from '#imports';
	import { Product, useGenerateGetProduct, useGetProduct } from '@app/api/product';
	import { useGetProductPage } from '@app/api/productPage';
	import { usePageSeo } from '@app/utils/usePageSeo';

	const route = useRoute();
	const router = useRouter();

	const {
		data: product,
		error: productError,
		refresh: productRefresh,
	} = await useGetProduct(route.params.slug as string);

	const {
		data: productPage,
		error: productPageError,
		refresh: productPageRefresh,
	} = await useGetProductPage();

	usePageSeo(productPage.value?.Seo);

	const getProduct = useGenerateGetProduct(route.params.slug as string);
	const realTimeProduct = ref<Product | null>(null);
	getProduct().then((data) => {
		realTimeProduct.value = data;
	});
</script>

<style lang="scss" scoped>
	.product-page {
		display: grid;
		grid-template-columns: 1fr minmax(375px, 25%);
		gap: 100px;
		padding: 70px $layout-side-padding 0;

		@media (max-width: breakpoint(md)) {
			padding: 0 $layout-side-padding-mobile 0;
			display: block;
		}

		&__info-top {
			margin-bottom: 60px;

			@media (max-width: breakpoint(md)) {
				margin-bottom: 28px;
			}
		}

		&__accordions-actions {
			display: flex;
			flex-direction: column;

			@media (max-width: breakpoint(md)) {
				order: 1;
			}
		}

		&__accordions {
			margin-bottom: 40px;
		}
	}
</style>
