<template>
	<component :is="props.as" :class="classValue" :style="{ fontWeight: props.weight }">
		<slot></slot>
	</component>
</template>

<script lang="ts" setup>
	import { computed } from '#imports';

	const classMap = {
		xxLarge: 'xxLarge',
		xLarge: 'xLarge',
		large: 'large',
		mediumLarge: 'mediumLarge',
		medium: 'medium',
		small: 'small',
	};

	type ScreenSize = 'default' | 'xs' | 'sm' | 'md' | 'lg' | 'xl' | 'xxl';
	type TextSize = keyof typeof classMap;

	interface Props {
		as?: string;
		size?:
			| TextSize
			| {
					[key in ScreenSize]?: TextSize;
			  };
		weight?: 300 | 400 | 500 | 600 | 700 | 800;
	}

	const props = withDefaults(defineProps<Props>(), {
		as: 'span',
		size: 'medium',
		weight: 400,
	});

	const classValue = computed(() => {
		const { size } = props;
		if (typeof size === 'string') {
			return classMap[size];
		}

		return (Object.keys(props.size) as Array<ScreenSize>).map((key) => {
			if (key === 'default') {
				return size[key];
			}
			return `screen-${key}__${size[key]}`;
		});
	});
</script>

<style lang="scss" scoped>
	.xxLarge {
		@include typography-xxLarge;
	}

	.xLarge {
		@include typography-xLarge;
	}

	.large {
		@include typography-large;
	}

	.mediumLarge {
		@include typography-mediumLarge;
	}

	.medium {
		@include typography-medium;
	}

	.small {
		@include typography-small;
	}

	@each $name, $size in $grid-breakpoints {
		@media (max-width: $size) {
			.screen-#{$name}__xxLarge {
				@include typography-xxLarge;
			}
			.screen-#{$name}__xLarge {
				@include typography-xLarge;
			}
			.screen-#{$name}__large {
				@include typography-large;
			}
			.screen-#{$name}__mediumLarge {
				@include typography-mediumLarge;
			}
			.screen-#{$name}__medium {
				@include typography-medium;
			}
			.screen-#{$name}__small {
				@include typography-small;
			}
		}
	}
</style>
