<template>
	<div class="product-actions">
		<select
			v-model="selectedProductSize"
			:aria-label="productPage.SelectSizeLabel"
			:disabled="!productSizes.length"
			class="product-actions__action product-actions__size-selector"
		>
			<option :value="null" disabled>
				{{ productPage.SelectSizeLabel }}
			</option>
			<option :value="null" disabled></option>
			<option v-for="size in productSizes" :value="size.value">
				{{ size.label }}
			</option>
		</select>
		<BaseControlsPrimaryButton
			:disabled="!productSizes.length"
			:title="productPage.AddToCartLabel"
			class="product-actions__action"
			@click="addProduct(product)"
		/>
		<BaseControlsPrimaryButton
			:disabled="!productSizes.length"
			:title="productPage.OneClickBuyLabel"
			class="product-actions__action product-actions__action--one-click"
			@click="addProduct(product, true)"
		>
			<BaseTypography
				:size="{ default: 'medium', md: 'small' }"
				:weight="!productSizes.length ? undefined : 700"
			>
				{{ productPage.OneClickBuyLabel }}
			</BaseTypography>
		</BaseControlsPrimaryButton>
	</div>
</template>

<script lang="ts" setup>
	import { computed, ref, useRouter } from '#imports';
	import { ProductPage } from '@app/api/productPage';
	import { useCartStore } from '@app/utils/stores/cart';
	import { useSnackbarStore } from '@app/utils/stores/snackbar';
	import { Product } from '@app/api/product';

	interface Props {
		product: Product;
		realTimeProduct?: Product;
		productPage: ProductPage;
	}

	const props = defineProps<Props>();
	const router = useRouter();

	const snackbarStore = useSnackbarStore();
	const cartStore = useCartStore();

	function addProduct(product: Product, immediately?: boolean) {
		if (!selectedProductSize.value) {
			snackbarStore.showNotification({ text: props.productPage.SelectSizeLabel });
			return;
		}

		cartStore.addProduct(product.id, selectedProductSize.value);

		if (immediately) {
			router.push('/order/checkout');
		} else if (props.productPage) {
			snackbarStore.showNotification({ text: props.productPage.ProductAddedToCartMessage });
		}
	}

	const productSizes = computed(() => {
		if (!props.realTimeProduct) {
			return [];
		}

		return (
			props.realTimeProduct.attributes.ProductSizeToQuantity?.filter(
				(item) => item.Quantity !== '0',
			).map((item) => ({
				label: item.product_size?.data.attributes.Title,
				value: item.product_size?.data.id,
			})) || []
		);
	});

	const selectedProductSize = ref<number | null>(productSizes.value?.[0]?.value || null);
</script>

<style lang="scss" scoped>
	.product-actions {
		@media (max-width: breakpoint(md)) {
			order: 0;
			margin-bottom: 70px;
		}

		&__action {
			& + & {
				margin-top: 11px;
			}

			&--one-click:not(:disabled) {
				border-width: 3px;
				font-weight: 700;
			}
		}

		&__size-selector {
			width: 100%;
			padding: 10px 0;
			background: transparent;
			text-align: center;
			cursor: pointer;
			transition:
				background-color 250ms ease-in-out,
				border-color 250ms ease-in-out,
				color 250ms ease-in-out;

			&:hover {
				background-color: $color-black;
				color: $color-white;
				border-color: transparent;
			}

			option:first-child {
				display: none;
			}
		}
	}
</style>
