<template>
	<div :style="{ backgroundColor: props.color }" class="color-circle"></div>
</template>

<script lang="ts" setup>
	interface Props {
		color: string;
	}

	const props = defineProps<Props>();
</script>

<style lang="scss" scoped>
	.color-circle {
		width: 18px;
		height: 18px;
		border-radius: 50%;
	}
</style>
