<template>
	<div class="product-details">
		<BaseDisplaysAccordion
			v-for="accordionItem in accordionItems"
			:active="accordionItem.active"
			:content="accordionItem.content"
			class="accordion"
			@toggle="toggleAccordion(accordionItem.key)"
		>
			<template #toggle="{ active }">
				<BaseTypography :weight="active ? 700 : 400" size="medium">
					{{ accordionItem.title }}
				</BaseTypography>
			</template>
		</BaseDisplaysAccordion>
	</div>
</template>

<script lang="ts" setup>
	import { computed, ref } from '#imports';
	import { ProductPage } from '@app/api/productPage';
	import { Product } from '@app/api/product';

	interface Props {
		product: Product;
		productPage: ProductPage;
	}

	const props = defineProps<Props>();

	const accordions = ref({
		description: true,
		parameters: false,
		composition: false,
		shipment: false,
	});

	type AccordionKey = keyof typeof accordions.value;
	const accordionItems = computed<
		{
			key: AccordionKey;
			active: boolean;
			content: string;
			title: string;
		}[]
	>(() => [
		{
			key: 'description',
			active: accordions.value.description,
			content: props.product.attributes.Description,
			title: props.productPage.ProductDescriptionLabel,
		},
		{
			key: 'parameters',
			active: accordions.value.parameters,
			content: props.product.attributes.ModelParameters,
			title: props.productPage.ModelParametersLabel,
		},
		{
			key: 'composition',
			active: accordions.value.composition,
			content: props.product.attributes.CompositionAndCare,
			title: props.productPage.CompositionAndCareLabel,
		},
		{
			key: 'shipment',
			active: accordions.value.shipment,
			content: props.productPage.ShippingAndPaymentContent,
			title: props.productPage.ShippingAndPaymentLabel,
		},
	]);

	function toggleAccordion(key: AccordionKey) {
		accordions.value[key] = !accordions.value[key];
		Object.keys(accordions.value).forEach((accordionKey) => {
			if (key !== accordionKey) {
				accordions.value[accordionKey as AccordionKey] = false;
			}
		});
	}
</script>

<style lang="scss" scoped>
	.accordion {
		margin-top: 11px;

		&:first-child {
			margin-top: 0;
		}
	}
</style>
