<template>
	<div class="product-images">
		<BaseDisplaysImage
			v-if="product.attributes.Photos.data?.[0]"
			:alt="product.attributes.Title"
			:image="{ data: product.attributes.Photos.data?.[0] } as ImageResource"
			sizes="(max-width: 991px) 0vw, (max-width: 1199px) calc(100vw - max(375px, 25vw) - (9.375vw * 2) - 100px), 43vw"
		/>
		<BaseDisplaysImage
			v-if="product.attributes.Photos.data?.[1]"
			:alt="product.attributes.Title"
			:image="{ data: product.attributes.Photos.data?.[1] } as ImageResource"
			sizes="(max-width: 991px) 0vw, (max-width: 1199px) calc(100vw - max(375px, 25vw) - (9.375vw * 2) - 100px), 57vw"
		/>
		<BaseDisplaysImage
			v-for="photo in product.attributes.Photos.data.slice(2)"
			v-if="product.attributes.Photos.data"
			:key="photo.id"
			:alt="product.attributes.Title"
			:image="{ data: photo }"
			sizes="(max-width: 991px) 0vw, calc(100vw - max(375px, 25vw) - (9.375vw * 2) - 100px)"
		/>
	</div>
	<div class="mobile-slider">
		<ClientOnly>
			<carousel
				v-if="!!product.attributes.Photos.data?.length"
				ref="imageSlider"
				:items-to-show="1"
			>
				<slide v-for="photo in product.attributes.Photos.data || []" :key="photo.id">
					<div class="slide-image">
						<BaseDisplaysImage
							:alt="product.attributes.Title"
							:image="{ data: photo }"
							sizes="(max-width: 991px) 100vw, 0vw"
						/>
					</div>
				</slide>
			</carousel>
		</ClientOnly>
		<div class="mobile-slider-buttons">
			<button
				v-for="(photo, index) in product.attributes.Photos.data"
				:key="photo.id"
				:class="{ active: imageSlider?.data.currentSlide.value === index }"
				:title="`Swipe product photos slider to the slide number ${index + 1}`"
				@click="imageSlider.slideTo(index)"
			/>
		</div>
	</div>
</template>
<script lang="ts" setup>
	import { ref } from '#imports';
	import { Carousel, Slide } from 'vue3-carousel';
	import { Product } from '@app/api/product';
	import { ImageResource } from '@app/api/types/ImageResource';

	interface Props {
		product: Product;
	}

	const props = defineProps<Props>();
	const imageSlider = ref<any>(null);
</script>

<style lang="scss" scoped>
	.product-images {
		display: grid;
		grid-template-columns: 43% 1fr;

		@media (max-width: breakpoint(lg)) {
			grid-template-columns: 1fr;
		}

		@media (max-width: breakpoint(md)) {
			display: none;
		}

		img {
			max-width: 100%;

			@media (max-width: breakpoint(lg)) {
				margin: 0 auto;
			}
		}

		img:nth-child(n + 3) {
			grid-column: 1/-1;
		}
	}

	.mobile-slider {
		display: none;
		max-width: 100%;
		overflow: hidden;
		margin-bottom: 38px;

		@media (max-width: breakpoint(md)) {
			display: block;
		}

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.mobile-slider-buttons {
		display: flex;
		justify-content: center;
		margin-top: 24px;

		button {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: $color-gray;

			& + button {
				margin-left: 5px;
			}

			&.active {
				background-color: $color-black;
			}
		}
	}
</style>
