<template>
	<ErrorHandler :api-error="relatedProductsError" :reload="relatedProductsRefresh">
		<div class="product-related">
			<div class="product-related__header">
				<BaseTypography
					:size="{ default: 'xxLarge', md: 'medium' }"
					:weight="700"
					class="product-related__title"
				>
					{{ productPage.RelatedProductsLabel }}
				</BaseTypography>
				<BaseTypography class="product-related__subtitle">
					{{ splitTextByHalf(productPage.RelatedProductsSublabel) }}
				</BaseTypography>
			</div>
			<div class="product-related__grid">
				<ProductsProduct
					v-for="relatedProduct in relatedProducts"
					:key="relatedProduct.id"
					:main-image="relatedProduct.attributes.MainPhoto"
					:price="relatedProduct.attributes.Price"
					:slug="relatedProduct.attributes.Slug"
					:sub-image="relatedProduct.attributes.BackgroundPhoto"
					:title="relatedProduct.attributes.Title"
					image-sizes="(max-width: 991px) 0vw, calc((100vw - (9.375vw * 2)) / 4)"
				/>
			</div>
			<div class="product-related__mobile-slider">
				<ClientOnly>
					<carousel v-if="!!relatedProducts?.length" ref="relatedProductsSlider" :items-to-show="2">
						<slide v-for="relatedProduct in relatedProducts" :key="relatedProduct.id">
							<div class="slide-image">
								<ProductsProduct
									:main-image="relatedProduct.attributes.MainPhoto"
									:price="relatedProduct.attributes.Price"
									:slug="relatedProduct.attributes.Slug"
									:sub-image="relatedProduct.attributes.BackgroundPhoto"
									:title="relatedProduct.attributes.Title"
									image-sizes="(max-width: 991px) 50vw, 0vw"
								/>
							</div>
						</slide>
					</carousel>
				</ClientOnly>
				<div class="product-page__mobile-slider-buttons">
					<button
						v-for="(relatedProduct, index) in relatedProducts"
						:key="relatedProduct.id"
						:class="{ active: relatedProductsSlider?.data.currentSlide.value === index }"
						:title="`Swipe related product photos slider to the slide number ${index + 1}`"
						type="button"
						@click="relatedProductsSlider.slideTo(index)"
					/>
				</div>
			</div>
		</div>
	</ErrorHandler>
</template>

<script lang="ts" setup>
	import { computed, ref, useRuntimeConfig } from '#imports';
	import { Carousel, Slide } from 'vue3-carousel';
	import { ProductPage } from '@app/api/productPage';
	import { useGetProducts } from '@app/api/products';
	import { splitTextByHalf } from '@app/utils/text';
	import { Product } from '@app/api/product';

	interface Props {
		product: Product;
		productPage: ProductPage;
	}

	const props = defineProps<Props>();
	const runtimeConfig = useRuntimeConfig();

	const filters = computed(() => ({
		productIds: props.product.attributes.RelatedProducts.data.map(({ id }) => id),
	}));

	const {
		data: relatedProducts,
		error: relatedProductsError,
		refresh: relatedProductsRefresh,
	} = await useGetProducts(filters);

	const relatedProductsSlider = ref<any>(null);
</script>

<style lang="scss" scoped>
	.product-related {
		margin-top: 94px;
		grid-column: 1/-1;

		@media (max-width: breakpoint(md)) {
			margin-top: 72px;
		}

		&__header {
			display: flex;
			align-items: center;
		}

		&__title {
			margin-right: 85px;
		}

		&__subtitle {
			white-space: pre-line;
			flex-shrink: 0;

			@media (max-width: breakpoint(md)) {
				display: none;
			}
		}

		&__grid {
			margin-top: 70px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 20px;

			@media (max-width: breakpoint(md)) {
				display: none;
			}
		}

		&__mobile-slider {
			display: none;

			.slide-image {
				margin-right: 5px;
				text-align: left;
			}

			@media (max-width: breakpoint(md)) {
				margin-top: 24px;
				display: block;
				margin-left: -#{$layout-side-padding-mobile};
				margin-right: calc(-#{$layout-side-padding-mobile} - 5px);
			}
		}
	}
</style>
