<template>
	<div class="product-short-info">
		<BaseTypography :size="{ default: 'small', md: 'medium' }" :weight="500">
			{{ product.attributes.product_type.data?.attributes.Name }}
		</BaseTypography>
		<div class="product-short-info__bar" />
		<template v-if="realTimeProduct && getProductSizes(realTimeProduct.attributes)">
			<BaseTypography :size="{ default: 'small', md: 'medium' }" :weight="500">
				{{ getProductSizes(realTimeProduct.attributes) }}
			</BaseTypography>
			<div class="product-short-info__bar" />
		</template>
		<div class="product-short-info__color">
			<BaseTypography :size="{ default: 'small', md: 'medium' }" :weight="500">
				{{ productPage.ColorLabel }}
			</BaseTypography>
			<ProductColorCircle
				:color="product.attributes.Color"
				class="product-short-info__color-circle"
			/>
		</div>
		<div class="product-short-info__bar" />
		<div class="product-short-info__price">
			<BaseTypography :size="{ default: 'small', md: 'medium' }" :weight="500">
				{{ productPage.PriceLabel }}
			</BaseTypography>
			<BaseTypography :size="{ default: 'small', md: 'medium' }" :weight="500">
				{{ product.attributes.Price }} PLN
			</BaseTypography>
		</div>
	</div>
</template>
<script lang="ts" setup>
	import { getProductSizes } from '@app/utils/product';
	import { ProductPage } from '@app/api/productPage';
	import { Product } from '@app/api/product';

	interface Props {
		product: Product;
		realTimeProduct?: Product;
		productPage: ProductPage;
	}

	const props = defineProps<Props>();
</script>

<style lang="scss" scoped>
	.product-short-info {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		@media (max-width: breakpoint(md)) {
			justify-content: space-around;

			& > *:not(.product-page__info-bar) {
				order: 2;
			}
		}

		&__bar {
			height: 40px;
			background-color: $color-divider;
			width: 1px;

			@media (max-width: breakpoint(md)) {
				display: none;
			}
		}

		&__type {
			@media (max-width: breakpoint(md)) {
				order: 0 !important;
			}
		}

		&__color {
			display: flex;
			align-items: center;

			@media (max-width: breakpoint(md)) {
				display: none;
			}
		}

		&__color-circle {
			margin-left: 11px;
			display: block;
			margin-bottom: 3px;
		}

		&__color-circle-mobile {
			display: inline-block;
			margin-bottom: 3px;
		}

		&__price {
			display: flex;
			align-items: center;

			& > *:first-child {
				margin-right: 5px;
			}

			@media (max-width: breakpoint(md)) {
				display: none;
			}
		}
	}
</style>
