<template>
	<div class="product-subheader-mobile">
		<BaseTypography :size="{ default: 'medium', md: 'small' }"
			>{{ productPage.PriceLabel }}
		</BaseTypography>
		<BaseTypography :size="{ default: 'medium', md: 'small' }"
			>{{ productPage.ColorLabel }}
		</BaseTypography>
		<BaseTypography :size="{ default: 'medium', md: 'small' }"
			>{{ product.attributes.Price }} PLN
		</BaseTypography>
		<div class="product-subheader-mobile__color">
			<ProductColorCircle :color="product.attributes.Color" />
		</div>
	</div>
</template>
<script lang="ts" setup>
	import { ProductPage } from '@app/api/productPage';
	import { Product } from '@app/api/product';

	interface Props {
		product: Product;
		productPage: ProductPage;
	}

	const props = defineProps<Props>();
</script>

<style lang="scss" scoped>
	.product-subheader-mobile {
		display: none;

		@media (max-width: breakpoint(md)) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin-bottom: 30px;

			& > * {
				text-align: center;

				&:nth-child(-n + 2) {
					padding-bottom: 24px;
					border-bottom: 1px solid $color-gray;
				}

				&:nth-child(n + 3) {
					padding-top: 24px;
				}
			}
		}

		&__color {
			& > * {
				display: inline-block;
			}
		}
	}
</style>
