<template>
	<div ref="productTitleElemRef" class="product-title">
		{{ title }}
	</div>
</template>

<script lang="ts" setup>
	import { onMounted, onUnmounted, ref } from '#imports';

	interface Props {
		title: string;
	}

	const props = defineProps<Props>();
	const productTitleElemRef = ref<HTMLElement | null>(null);

	let resizeObserver: ResizeObserver | null = null;
	onMounted(async () => {
		resizeObserver = new ResizeObserver(() => {
			if (!productTitleElemRef.value) {
				return;
			}

			let width = productTitleElemRef.value.offsetWidth;

			if (!width || window.matchMedia('(max-width: 991px)').matches) {
				return;
			}

			const parent = productTitleElemRef.value.parentElement;

			if (parent && width > parent.offsetWidth) {
				while (width > parent.offsetWidth) {
					const fontSize = parseInt(window.getComputedStyle(productTitleElemRef.value).fontSize);

					if (!fontSize) {
						break;
					}

					productTitleElemRef.value.style.fontSize = `${fontSize - 1}px`;
					width = productTitleElemRef.value.offsetWidth;
				}
			} else if (parent) {
				while (width < parent.offsetWidth) {
					const fontSize = parseInt(window.getComputedStyle(productTitleElemRef.value).fontSize);

					productTitleElemRef.value.style.fontSize = `${fontSize + 1}px`;
					width = productTitleElemRef.value.offsetWidth;
				}
			}
			productTitleElemRef.value.style.opacity = '1';

			if (resizeObserver) {
				resizeObserver.unobserve(productTitleElemRef.value);
			}
		});

		if (productTitleElemRef.value) {
			resizeObserver.observe(productTitleElemRef.value);
		}
	});

	onUnmounted(() => {
		if (resizeObserver && productTitleElemRef.value) {
			resizeObserver.unobserve(productTitleElemRef.value);
		}
	});
</script>

<style lang="scss" scoped>
	.product-title {
		@include typography-mediumLarge;
		font-weight: 700;
		text-align: center;
		margin-top: 22px;
		white-space: nowrap;
		opacity: 0;
		display: inline-block;

		@media (max-width: breakpoint(md)) {
			@include typography-medium(true);
			order: 1;
			width: auto;
			margin-top: 0;
			opacity: 1;
		}
	}
</style>
