$color-divider: #cccccc;
$color-black: #323232;
$color-white: #f6f6f6;
$color-gray: #717171;
$color-background: #efefef;
$color-red: #ef5350;

$layout-side-padding: 9.375%;
$layout-side-padding-mobile: 24px;

$grid-breakpoints: (
	xs: 576px,
	sm: 768px,
	md: 992px,
	lg: 1200px,
	xl: 1400px,
	xxl: 1920px,
);

@function breakpoint($breakpoint) {
	@return #{map-get($grid-breakpoints, $breakpoint)};
}
