@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	src: url('/fonts/Lato/Lato-ThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/Lato/Lato-LightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Lato/Lato-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/Lato/Lato-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url('/fonts/Lato/Lato-BlackItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url('/fonts/Lato/Lato-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/Lato/Lato-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Lato/Lato-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/Lato/Lato-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('/fonts/Lato/Lato-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'SFUIText';
	src: url('/fonts/SFUIText/SFUIText-Heavy.woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFUIText';
	src: url('/fonts/SFUIText/SFUIText-HeavyItalic.woff2');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SFUIText';
	src: url('/fonts/SFUIText/SFUIText-Bold.woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFUIText';
	src: url('/fonts/SFUIText/SFUIText-BoldItalic.woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SFUIText';
	src: url('/fonts/SFUIText/SFUIText-Semibold.woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFUIText';
	src: url('/fonts/SFUIText/SFUIText-SemiboldItalic.woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SFUIText';
	src: url('/fonts/SFUIText/SFUIText-Medium.woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFUIText';
	src: url('/fonts/SFUIText/SFUIText-MediumItalic.woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SFUIText';
	src: url('/fonts/SFUIText/SFUIText-Regular.woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFUIText';
	src: url('/fonts/SFUIText/SFUIText-RegularItalic.woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SFUIText';
	src: url('/fonts/SFUIText/SFUIText-Light.woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFUIText';
	src: url('/fonts/SFUIText/SFUIText-LightItalic.woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
