@import 'variables';
@import 'typography';

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'Lato';
	background-color: $color-white;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

#__nuxt {
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
}

button {
	background: none;
	border: none;
	padding: 0;
}

a {
	font-size: 15px;
	line-height: 16.5px;
	text-decoration: none;
	outline: 0;
}

input {
	@include typography-medium;
}
