@mixin typography($fontSize, $lineHeight, $important) {
	@if $important {
		font-size: $fontSize !important;
		line-height: $lineHeight !important;
	} @else {
		font-size: $fontSize;
		line-height: $lineHeight;
	}
}

@mixin typography-xxLarge($important: false) {
	@include typography(55px, 66px, $important);
}
@mixin typography-xLarge($important: false) {
	@include typography(40px, 48px, $important);
}
@mixin typography-large($important: false) {
	@include typography(30px, 33px, $important);
}
@mixin typography-mediumLarge($important: false) {
	@include typography(20px, 24px, $important);
}
@mixin typography-medium($important: false) {
	@include typography(15px, 18px, $important);
}
@mixin typography-small($important: false) {
	@include typography(12px, 16px, $important);
}
