<template>
	<a v-if="isExternal()" :href="props.to" rel="noopener noreferrer" target="_blank">
		<slot />
	</a>
	<NuxtLink v-else :to="to">
		<slot />
	</NuxtLink>
</template>

<script lang="ts" setup>
	interface Props {
		to?: string;
	}

	const props = defineProps<Props>();

	function isExternal() {
		return props.to?.startsWith('http');
	}
</script>
