<template>
	<button :title="props.title" :type="props.type" class="button">
		<slot>
			{{ props.title }}
		</slot>
	</button>
</template>

<script lang="ts" setup>
	interface Props {
		type?: string;
		title?: string;
	}

	const props = withDefaults(defineProps<Props>(), {
		type: 'button',
	});
</script>

<style lang="scss" scoped>
	.button {
		@include typography-medium;
		text-decoration: none;
		outline: 0;
		cursor: pointer;
	}
</style>
