<template>
	<button
		:class="{ loading: props.loading }"
		:disabled="props.disabled || props.loading"
		:title="props.title"
		:type="props.type"
		class="button"
	>
		<slot>
			<BaseTypography :size="{ default: 'medium', md: 'small' }">
				{{ props.title }}
			</BaseTypography>
		</slot>
	</button>
</template>

<script lang="ts" setup>
	import { useSlots } from '#imports';

	interface Props {
		type?: string;
		title: string;
		loading?: boolean;
		disabled?: boolean;
	}

	const props = withDefaults(defineProps<Props>(), {
		type: 'button',
	});
	const slots = useSlots();
</script>

<style lang="scss" scoped>
	.button {
		@include typography-medium;
		position: relative;
		color: $color-black;
		width: 100%;
		border: 1px solid $color-gray;
		padding: 18px 0 15px;
		text-align: center;
		transition:
			background-color 250ms ease-in-out,
			border-color 250ms ease-in-out,
			color 250ms ease-in-out;

		&:focus-visible,
		&:hover:not(:disabled),
		&.loading {
			background-color: $color-black;
			color: $color-white;
			border-color: transparent;
		}

		&:disabled {
			opacity: 0.5;
		}

		&.loading:before {
			content: '';
			position: absolute;
			background-color: $color-black;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		&.loading:after {
			content: ' ';
			display: block;
			border-radius: 50%;
			width: 0;
			height: 0;
			box-sizing: border-box;
			border: 16px solid;
			border-color: #fff transparent #fff transparent;
			animation: lds-hourglass 1.2s infinite;
			position: absolute;
			left: calc(50% - 16px);
			z-index: 2;
			top: calc(50% - 16px);
		}

		@keyframes lds-hourglass {
			0% {
				transform: rotate(0);
				animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
			}
			50% {
				transform: rotate(900deg);
				animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			}
			100% {
				transform: rotate(1800deg);
			}
		}
	}
</style>
