<template>
	<BaseControlsAppLink class="cart-link" title="Cart" to="/order/checkout">
		<BaseTypography class="cart-link__number" size="small">
			<ClientOnly placeholder="0">
				{{ getTotalNumberOfCartProducts(cartProducts) }}
			</ClientOnly>
		</BaseTypography>
		<SvgCart class="cart-link__icon" />
	</BaseControlsAppLink>
</template>

<script lang="ts" setup>
	import { computed } from '#imports';
	import { useCartStore } from '@app/utils/stores/cart';

	const cartStore = useCartStore();
	const cartProducts = computed(() => cartStore.products);

	function getTotalNumberOfCartProducts(cartProducts: typeof cartStore.products) {
		return cartProducts.reduce((total, cartProduct) => {
			return total + cartProduct.quantity;
		}, 0);
	}
</script>

<style lang="scss" scoped>
	.cart-link {
		color: $color-black;
		position: relative;
		bottom: 4px;

		&__number {
			position: absolute;
			left: calc(50% + 2px);
			top: 14px;
			transform: translate(-50%, -50%);
		}

		&__icon {
			width: 40px;
			height: auto;
		}
	}
</style>
