<template>
	<ErrorHandler :api-error="productTypesManError" :reload="productTypesManRefresh">
		<ErrorHandler :api-error="productTypesWomanError" :reload="productTypesWomanRefresh">
			<nav class="container">
				<div class="left-side">
					<div class="menu">
						<Menu />
					</div>
					<BaseControlsAppLink
						:to="`/products/man/${productTypesMan[0].attributes.Slug}`"
						class="products-link"
					>
						<BaseTypography>{{ data.ProductsMenTitle }}</BaseTypography>
					</BaseControlsAppLink>
					<div class="products-bar" />
					<BaseControlsAppLink
						:to="`/products/woman/${productTypesWoman[0].attributes.Slug}`"
						class="products-link"
					>
						<BaseTypography>{{ data.ProductsWomenTitle }}</BaseTypography>
					</BaseControlsAppLink>
					<BaseControlsAppLink class="about-link" to="/about">
						<BaseTypography>{{ data.AboutTitle }}</BaseTypography>
					</BaseControlsAppLink>
				</div>
				<BaseControlsAppLink :to="'/'" class="center-text">
					<BaseTypography>{{ data.CenterText }}</BaseTypography>
				</BaseControlsAppLink>
				<div class="right-side">
					<BaseControlsAppLink :to="data.InstagramLink" class="instagram-link">
						<BaseTypography>{{ data.InstagramTitle }}</BaseTypography>
					</BaseControlsAppLink>
					<BaseControlsAppLink :to="data.FacebookLink" class="facebook-link">
						<BaseTypography>{{ data.FacebookTitle }}</BaseTypography>
					</BaseControlsAppLink>
					<ClientOnly>
						<NavigationCartLink />
					</ClientOnly>
				</div>
			</nav>
		</ErrorHandler>
	</ErrorHandler>
</template>

<script lang="ts" setup>
	import { useGetNavigation } from '@app/api/navigation';
	import { useGetProductTypes } from '@app/api/productTypes';

	const { data } = await useGetNavigation();

	const [
		{ data: productTypesMan, error: productTypesManError, refresh: productTypesManRefresh },
		{ data: productTypesWoman, error: productTypesWomanError, refresh: productTypesWomanRefresh },
	] = await Promise.all([useGetProductTypes('man'), useGetProductTypes('woman')]);
</script>

<style lang="scss" scoped>
	.container {
		position: relative;
		border-bottom: 1px solid $color-divider;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 $layout-side-padding;
		height: 80px;

		@media (max-width: breakpoint(md)) {
			padding: 0 $layout-side-padding-mobile;
			height: 80px;
			border-bottom: none;
		}
	}

	.left-side,
	.right-side {
		a:not(.bag) {
			color: $color-black;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 0;
				height: 1px;
				background-color: $color-black;
				transition: width 250ms ease-in-out;
			}

			&:hover:after {
				width: 100%;
			}
		}
	}

	.left-side {
		display: flex;
		align-items: center;
	}

	.menu {
		margin-right: 69px;

		@media (max-width: breakpoint(md)) {
			margin-right: 0;
		}
	}

	.products-bar {
		width: 15px;
		height: 1px;
		background-color: $color-black;
		margin-left: 5px;
		margin-right: 5px;
	}

	.about-link {
		margin-left: 50px;
	}

	.center-text {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: $color-black;

		@media (max-width: breakpoint(lg)) {
			position: static;
			transform: none;
		}

		@media (max-width: breakpoint(md)) {
			font-size: 13px;
			line-height: 14.3px;
		}
	}

	.right-side {
		display: flex;
		align-items: center;
	}

	.instagram-link {
		margin-right: 25px;
	}

	.facebook-link {
		margin-right: 65px;
	}

	.products-link,
	.products-bar,
	.about-link,
	.instagram-link,
	.facebook-link {
		@media (max-width: breakpoint(md)) {
			display: none;
		}
	}
</style>
