<template>
	<label class="checkbox">
		<slot />
		<input :value="props.value" type="checkbox" @blur="handleBlur" @input="handleChange" />
		<span></span>
	</label>
</template>

<script lang="ts" setup>
	interface Props {
		value: boolean;
		name: string;
	}

	interface Events {
		(e: 'change', value: boolean): void;

		(e: 'blur'): void;
	}

	const props = defineProps<Props>();

	const emit = defineEmits<Events>();

	function handleChange(event: Event) {
		emit('change', (event.currentTarget as HTMLInputElement).checked);
	}

	function handleBlur() {
		emit('blur');
	}
</script>

<style lang="scss" scoped>
	.checkbox {
		grid-column: span 2;
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;
		padding-left: 25px;

		@media (max-width: breakpoint(md)) {
			grid-column: 1;
		}

		&.invalid {
			color: $color-red;

			* {
				color: $color-red;
			}
		}

		span:first-child {
			* {
				text-transform: none;
			}
		}

		input {
			width: 0;
			height: 0;
			overflow: hidden;
			visibility: hidden;
		}

		input + span {
			border: 1px solid $color-black;
			border-radius: 3px;
			width: 14px;
			height: 14px;
			position: absolute;
			left: 0;
			top: 0;
		}

		&.invalid input + span {
			border-color: $color-red;
		}

		input:checked + span {
			background-color: $color-black;

			&:before {
				content: '';
				position: absolute;
				left: 1px;
				top: 6px;
				width: 5px;
				height: 2px;
				background-color: $color-white;
				transform: rotate(45deg);
				border-radius: 2px;
			}

			&:after {
				content: '';
				position: absolute;
				left: 3px;
				top: 5px;
				width: 10px;
				height: 2px;
				background-color: $color-white;
				transform: rotate(-45deg);
				border-radius: 2px;
			}
		}
	}
</style>
