<template>
	<input
		:name="props.name"
		:placeholder="props.placeholder"
		:type="props.type"
		:value="props.value"
		class="input"
		@input="handleChange"
	/>
</template>

<script lang="ts" setup>
	interface Props {
		value: string;
		placeholder: string;
		name: string;
		type?: string;
	}

	interface Events {
		(e: 'change', value: string): void;
	}

	const props = withDefaults(defineProps<Props>(), {
		type: 'text',
	});

	const emit = defineEmits<Events>();

	function handleChange(event: Event) {
		emit('change', (event.currentTarget as HTMLInputElement).value);
	}
</script>

<style lang="scss" scoped>
	.input {
		@include typography-medium;
		border: none;
		border-bottom: 1px solid $color-gray;
		background-color: transparent;
		padding-bottom: 20px;
		width: 100%;
		text-transform: none;

		@media (max-width: breakpoint(md)) {
			@include typography-small;
		}

		&::placeholder {
			color: $color-black;
			text-transform: none;
		}

		&.invalid {
			color: $color-red;
			border-color: $color-red;

			&::placeholder {
				color: $color-red;
			}
		}
	}
</style>
