<template>
	<label class="toggle-input">
		<input :checked="props.value" type="checkbox" @change="handleChange" />
		<span class="toggle-input__toggle"></span>
		<BaseTypography class="toggle-input__label">{{ props.label }}</BaseTypography>
	</label>
</template>

<script lang="ts" setup>
	interface Props {
		value: boolean;
		label: string;
	}

	interface Events {
		(e: 'change', value: boolean): void;
	}

	const props = defineProps<Props>();
	const emit = defineEmits<Events>();

	function handleChange() {
		emit('change', !props.value);
	}
</script>

<style lang="scss" scoped>
	.toggle-input {
		display: inline-flex;
		align-items: center;
		cursor: pointer;

		input {
			display: none;
		}

		&__toggle {
			width: 40px;
			height: 20px;
			border: 2px solid $color-gray;
			border-radius: 10px;
			display: block;
			margin-right: 10px;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 1px;
				left: 1px;
				height: 14px;
				width: 14px;
				border-radius: 50%;
				background-color: $color-gray;
				transition: left 250ms ease-in-out;
			}
		}

		input:checked + &__toggle {
			border-color: $color-black;

			&:before {
				background-color: $color-black;
				left: 20px;
			}

			& + span {
				color: $color-black;
			}
		}

		&__label {
			color: $color-gray;
			font-family: 'SFUIText';
		}
	}
</style>
